.dropmenu{
  *
  zoom: 1;
  /* list-style-type: none; */
  /* width: 960px; */
  /* margin: 5px auto 30px; */
  /* padding: 0; */
}
.dropmenu:before, .dropmenu:after{
  content: "";
  display: table;
}
.dropmenu:after{
  clear: both;
}
.dropmenu li{
  position: relative;
  /* width: 3%; */
  /* float: left; */
  /* margin: 0; */
  /* padding: 0; */
  /* text-align: center; */
}
.dropmenu li a{
  display: block;
  margin: 0;
  padding: 0 0 30px;
  /* background: #8a9b0f; */
  /* color: #fff; */
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
}
.dropmenu li ul{
  /* list-style: none; */
  position: absolute;
  z-index: 9999;
  top: 34px;
  left: 0;
  right: 0;
  margin: -2px auto;
  padding: 0;
  /* height:  0; */
}
.dropmenu li ul li{
  width: 100%;
}
.dropmenu li ul li a{
  /* padding: 13px 15px; */
  /* border-top: 1px solid #7c8c0e; */
  /* background: #6e7c0c; */
  text-align: left;
}
.dropmenu li:hover > a{
  /* background: #6e7c0c; */
}
.dropmenu li a:hover{
  /* background: #616d0b; */
}


.dropmenu li ul li{
  overflow: hidden;
  height: 0;
  transition: .2s;
  margin: 0 auto;
  width: 100px;
  padding-left: 5px;
}

.dropmenu li ul li a {
  padding-bottom: 10px;
}

.dropmenu li ul li:nth-child(2n) {
  /* margin-top: 20px; */
}

.dropmenu li ul li:nth-child(2n) a {
  padding-bottom: 10px;
}



.dropmenu li:hover ul li{
  overflow: visible;
  height: 15px;
  padding: 13px 5px 13px 5px;
  width: 100px;
}

.hero .dropmenu li:hover ul li{
  overflow: visible;
  height: 15px;
  padding: 13px 5px 13px 5px;
  width: 100px;
  background: rgba(0,0,80,0.8);
}