a {
  color: #171c61;
}
.gothic {
  font-family: Overpass, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "游ゴシック Medium", "游ゴシック体",
    "Yu Gothic Medium", YuGothic, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.hero {
  position: relative;
}
.hero_banner li {
  width: 100vw;
  height: 133.3333vw;
  position: relative;
}
.hero_banner li span {
  font-size: 8vw;
}
.hero_banner li.hero1 span {
  font-size: 5vw;
}

.hero_banner li.hero1 {
  background: url(/images/photo1_sp.jpg) no-repeat center center;
  background-size: cover;
}
.hero_banner li.hero2 {
  background: url(/images/photo2_sp.jpg) no-repeat center center;
  background-size: cover;
}

.hero_banner li.hero3 {
  background: url(/images/photo3_sp.jpg) no-repeat center center;
  background-size: cover;
}

.hero_banner li.hero1 span {
  position: absolute;
  top: 30vw;
  left: 5vw;
  color: #fff;
}

.hero_banner li.hero2 span {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 30vw;
  color: #fff;
}
.hero_banner li.hero3 span {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 30vw;
  color: #2a2f6f;
}

.hero .company_name {
  position: absolute;
  bottom: 5vw;
  right: 5vw;
  color: #2a2f6f;
}

h1 {
  margin: 0;
  background: none;
  padding: 0;
}

.more a {
  text-align: center;
  background: #000066;
  color: #fff;
  padding: 12px;
  width: 10em;
  border-radius: 64px;
  display: block;
  margin: 0 auto;
}
.more a span {
  background: url(/images/common/arrow_wh.png) no-repeat right center;
  background-size: 6px;
  padding: 0 24px 0 0;
  margin: 0 -24px 0 0;
}

.vision {
  background: url(../images/vision.jpg) no-repeat center top;
  background-size: 100% auto;
  width: 100%;
  margin: 10vw 0 0 0;
  position: relative;
  padding: 50vw 0 0 0;
}
.vision .text {
  margin: 0 auto 0 auto;
  width: 90vw;
  padding: 5vw;
  background: #fff;
  position: relative;
  z-index: 100;
}
.vision h2 {
  margin: 5vw 0 0 0;
}
.vision h2 img {
  width: 40vw;
}
.vision .title {
  color: #2a2f6f;
  margin: 10vw 0 0 0;
  font-size: 7vw;
  font-weight: 400;
  line-height: 1.4;
}
.vision p {
  color: #000000;
  font-size: 14px;
  line-height: 1.8;
  margin: 24px 0 0 0;
}
.vision .more {
  margin: 24px 0 0 0;
}
.vision .more a {
  background: none;
  color: #2a2f6f;
  text-align: left;
  margin: 16px 0 0 0;
  font-size: 24px;
}
.vision .more a span {
  background: url(../images/bullet.png) no-repeat 4px center;
  background-size: 12px auto;
  padding: 0 0 0 40px;
}
.business {
  margin: 10vw 0 0 0;
  position: relative;
  padding: 10vw 0 0 0;

  position: relative;
  background: url(/images/common/deco.png) no-repeat center top;
  background-size: 50vw auto;
}
.business h2 {
  z-index: 100;
  margin: 0 0 0 10vw;
}
.business h2 img {
  width: 55vw;
}
.business .seminar {
  background: url(../images/seminar1_sp.jpg) no-repeat center top;
  background-size: 100% auto;
  padding: 30vw 0 0 0;
  position: relative;
  margin: 5vw 0 0 0;
}
.business .produce {
  background: url(../images/produce1_sp.jpg) no-repeat center top;
  background-size: 100% auto;
  padding: 30vw 0 0 0;
  position: relative;
  margin: 5vw 0 0 0;
}
.business .title {
  color: #fff !important;
  position: absolute;
  top: 15vw;
  padding: 5vw;
  margin: 0 10vw 0 0;
  background: rgba(0, 2, 94, 0.8);
}
.business .title a {
  color: #fff !important;
}
.business h3 {
  font-size: 20px;
  font-weight: 700;
}
.business h4 {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 700;
}
.business h3 + p {
  margin: 2vw 0 0 0;
}
.business p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  margin: 2vw 0 0 0;
}
.business .image img {
  vertical-align: bottom;
  border-radius: 4px 4px 0 0;
}
.business .text {
  padding: 5vw;
  font-weight: 400;
  border-radius: 0 0 4px 4px;
}
.business .seminar ul,
.business .produce ul {
  margin: 20vw 0 5vw 0;
}
.business .seminar li,
.business .produce li {
  margin: 5vw;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.business .seminar li .text,
.business .produce li .text {
}

.business .more {
  margin: 24px 0 0 0;
}
.business .more span {
  display: inline-block;
  background: url(/images/bullet.png) no-repeat left center;
  background-size: 8px;
  padding: 0 24px 0 24px;
  margin: 0 0 0 0;
}

.pickup {
  position: relative;
  z-index: 9999;
  margin: 10vw 0 10vw 0;
  padding: 5vw 0 5vw 0;
  border-bottom: 1px solid #eee;
  background: #f2f3f6;
}
.pickup .inner {
}

.pickup li {
  width: 100%;
}

.pickup li {
  zoom: 1;
  margin: 0 0 2.5vw 0;
}
.pickup li:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: "";
}

.pickup li:last-child {
}

.pickup iframe {
  width: calc(31vw);
  height: calc(31vw * 169 / 300);
}

.pickup .image {
  width: 40%;
  float: left;
  padding: 0 4vw 0 5vw;
}
.pickup .text {
  width: 60%;
  float: left;
  padding: 0 5vw 0 0;
}
.pickup .date {
  font-size: 0.6rem;
  color: #000066;
  margin: 4px 0 0 0;
}
.pickup p {
  font-size: 0.7rem;
  line-height: 1.4;
  margin: 8px 0 0 0;
}

.information {
  margin: 0 5vw 8vw 5vw;
  padding: 0 0 3vw 0;
}
.information .information_title {
  text-align: center;
}
.information h2 {
  font-size: 1.2rem;
  color: #000066;
  font-weight: 100;
  padding: 0 0 0 0;
  background-size: 88px auto;
}
.information .information_list {
  margin: 6vw 0 3vw 0;
  text-align: center;
}
.information .information_list a {
  font-size: 0.8rem;
  padding: 8px 24px;
  background-size: 6px auto;
  border: 1px solid #171c61;
  border-radius: 2px;
}
.information dl {
  margin: 8vw 0 0 0;
}
.information dt {
  left: 0;
  padding: 4vw 0 0.5vw 0;
  color: #999999;
  font-size: 0.7rem;
  border-top: 1px solid #eeeeee;
}
.information dd {
  font-size: 0.8rem;
  padding: 1vw 0 4vw 0;
  line-height: 1.4;
}

.pr {
  background: url(/images/common/photo_statement.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 15vw 5vw;
}
.pr h2 {
  font-size: 1.5rem;
  font-weight: 100;
  color: #000066;
  padding: 0 0 32px 0;
  background: url(/images/common/line_nv.png) no-repeat center bottom;
  background-size: auto 1px;
}
.pr p {
  margin: 1em 0 0 0;
  line-height: 2;
  font-size: 0.8rem;
}
.pr p strong {
  font-weight: 400;
  font-size: 1.2rem;
}
.pr .more {
  margin: 10vw 0 0 0;
}

.service h2,
.profile h2 {
  font-size: 1.25rem;
  font-weight: 100;
  margin: 0 0 0 0;
  color: #000066;
  padding: 0 0 5vw 0;
  background: url(/images/common/line_nv.png) no-repeat left bottom;
  background-size: auto 1px;
  text-align: left;
}

.service {
  padding: 15vw 5vw;
}
.service .text {
  text-align: center;
}
.service .text h3 {
  font-weight: 100;
  margin: 10vw 0 0 0;
  font-size: 1.2rem;
  margin-top: 10vw;
}
.service .image {
  text-align: center;
  margin: 5vw 0 0 0;
}
.service .image img {
  width: 70%;
}
.service p {
  margin: 4vw 0 0 0;
  line-height: 1.8;
  font-size: 0.8rem;
}
.service .more a {
  font-size: 0.8rem;
  width: 10em;
  margin: 6vw auto 0 auto;
}
.service .more a span {
  background: url(/images/common/arrow_wh.png) no-repeat right center;
  background-size: 6px;
  padding: 0 16px 0 0;
  margin: 0 -16px 0 0;
}

.profile {
  padding: 0 0 15vw 0;
}

.profile .inner {
  padding: 0 5vw 0 5vw;
}

.profile h2 {
  text-align: right;
  background: url(/images/common/line_nv.png) no-repeat right bottom;
  background-size: auto 1px;
  margin: 0 0 5vw 0;
}

.profile .title {
  font-size: 0.7em;
  text-align: right;
}
.profile .title + .title {
  margin: 2vw 0 0 0;
  text-align: right;
}
.profile .name {
  text-align: right;
  font-size: 1.2rem;
  padding: 0 0 0 0;
  margin: 3vw 0 0 0;
}
.profile p {
  line-height: 1.8;
  font-size: 0.8rem;
}

.profile .more a {
  margin: 8vw auto 0 auto;
  width: 30vw;
  font-size: 0.8rem;
}

.profile .more a {
}

.profile_photo {
  position: relative;
  margin: 0 -5vw 5vw -5vw;
}
.profile_photo img {
  width: 100%;
}
.profile_photo .profile_title {
  position: absolute;
  width: 100%;
  right: 5vw;
  bottom: 7vw;
}

.story_btn {
  margin: 16px 0 64px 0;
}

.story_btn.accordion-open {
  margin: 0 0 -32px 0;
}

/*＝＝＝＝＝＝＝
　　　追加
＝＝＝＝＝＝＝*/

.pickup2 {
  position: relative;
  z-index: 9999;
  margin: 10vw 0 10vw 0;
  padding: 5vw 0 5vw 0;
  border-bottom: 1px solid #eee;
  background: #f2f3f6;
}
.pickup2 .inner {
}

.pickup2 li {
  width: 100%;
}

.pickup2 li {
  zoom: 1;
  margin: 0 0 2.5vw 0;
}
.pickup2 li:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: "";
}

.pickup2 li:last-child {
}

.pickup2 iframe {
  width: calc(31vw);
  height: calc(31vw * 169 / 300);
}

.pickup2 .image {
  width: 40%;
  float: left;
  padding: 0 4vw 0 5vw;
}
.pickup2 .text {
  width: 60%;
  float: left;
  padding: 0 5vw 0 0;
}
.pickup2 .date {
  font-size: 0.6rem;
  color: #000066;
  margin: 4px 0 0 0;
}
.pickup2 p {
  font-size: 0.7rem;
  line-height: 1.4;
  margin: 8px 0 0 0;
}

.act_btn {
  background: #2a2f6f;
  color: #fff;
  padding: 10px 30px;
  margin: 40px auto;
  text-align: center;
  font-size: 1em;
  width: 50%;
}

.act_title {
  text-align: center;
  margin: 0 auto !important;
  width: 50%;
  padding-bottom: 30px;
}
