.image_photo1 {
  background: url(/services/images/image_photo1.jpg) no-repeat center center;
  background-size: 100% auto;
  max-height: 520px;
  margin: 64px 0 0 0;
  text-indent: -9999px;
}
.image_photo1 {
  height: 520px;
  background: url(/services/images/image_photo1.jpg) no-repeat center center;
  margin: 64px 0 0 0;
  text-indent: -9999px;
}
.introduction {
  padding: 96px 0;
}
.introduction .image {
  width: 500px;
  float: left;
  text-align: right;
}
.introduction img {
  width: 500px;
}
.introduction .text {
  width: 380px;
  margin: 28px 0 0 80px;
  padding: 48px 0 0 0;
  float: left;
  background: url(/services/images/line.png) no-repeat left top;
}
.introduction h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 48px 0 0 0;
  color: #000066;
}
.introduction h2:first-child {
  margin: 0;
}
.introduction p {
  line-height: 2;
  font-size: 0.9rem;
  margin: 16px 0 1em 0;
}
.introduction p em {
  font-size: 1.1rem;
  font-weight: 400;
}
.introduction .btn {
  margin: 16px 0 0 0;
}
.introduction a {
  font-size: 0.9rem;
  border: 1px solid #000066;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 1px 5.7px 0.3px rgba(0, 0, 0, 0.17);
  padding: 12px 0;
  width: 204px;
  display: block;
  text-align: center;
  color: #000066;
}
.introduction .btn span {
  background: url(/images/common/arrow_down_nv.png) no-repeat right center;
  padding: 0 24px 0 0;
  background-size: 12px auto;
}

.support_menu {
  padding: 0 0 64px 0;
}

.support_menu .package,
.support_menu .alone {
  width: 960px;
  margin: 0 auto 0 auto;
  border-radius: 12px;
}
.support_menu .package {
  background: #e8edf4;
  margin: 0 auto 0 auto;
}
.support_menu .package h2 {
  background: #9db2ce;
  font-weight: 400;
  color: #fff;
  border-radius: 12px 12px 0 0;
}
.support_menu .alone h2 {
  background: #d9c8ad;
  font-weight: 400;
  border-radius: 12px 12px 0 0;
}
.support_menu h2 {
  padding: 24px 48px;
  font-size: 1.3rem;
}
.support_menu .package li {
  border-bottom: 1px solid #d6dde6;
}
.support_menu .package li:last-child {
  border-bottom: none;
}
.support_menu .title {
  float: left;
  width: 300px;
  padding: 32px 48px;
}
.support_menu h3 {
  font-weight: 400;
  color: #000066;
  font-size: 1.1rem;
  line-height: 1.8;
}
.support_menu .detail {
  float: left;
  width: 612px;
  padding: 32px 0px;
}
.support_menu .detail p {
  line-height: 1.8;
  font-size: 0.9rem;
}
.support_menu .detail p.suspend {
  line-height: 1.8;
  font-size: 0.9rem;
  margin: 8px 0 0 0;
  color: #ff0000;
}
.support_menu .detail p.note {
  line-height: 1.6;
  font-size: 0.75rem;
  margin: 8px 0 0 0;
  color: #999;
}
.support_menu .detail p.seminar_info {
  margin: 16px 0 0 0;
}
.support_menu .alone {
  background: #f8f5f0;
  margin: 48px auto 0 auto;
}
.support_menu .alone li {
  border-bottom: 1px solid #dedede;
}
.support_menu .alone li:last-child {
  border-bottom: none;
}
.support_menu .alone p.note {
  line-height: 1.6;
  font-size: 0.75rem;
  margin: 8px 0 16px 0;
  color: #999;
}
.support_menu .record {
  margin: 32px 0 0 0;
}
.support_menu .record h4 {
  font-size: 0.8rem;
}
.support_menu .record ul {
  margin: 16px 0 0 24px;
}
.support_menu .record li {
  font-size: 0.75rem;
  margin: 0 0 8px 0;
  border: none;
}
.support_menu .others {
  text-align: right;
  margin: 8px 0 0 0;
  font-size: 0.8rem;
}
.pr_seminar {
  margin-top: -100px;
  padding-top: 100px;
}
.pr_seminar .pr_seminar_introduction .title {
  background: url(/services/images/image_photo2.jpg) no-repeat center top;
  background-size: cover;
  height: 480px;
  padding: 80px 0;
  margin: 64px 0 0 0;
}
.pr_seminar .pr_seminar_introduction .title h2 {
  background: rgba(0, 0, 80, 0.8) url(/services/images/pr_seminar_logo.png) no-repeat center center;
  background-size: 60% auto;
  text-indent: -9999px;
  margin: 0 0 0 640px;
  height: 320px;
  width: 320px;
}
.pr_seminar .lead {
  background: -webkit-linear-gradient(90deg, #ffffff 0%, #e8edf4 100%);
  background: -moz-linear-gradient(90deg, #ffffff 0%, #e8edf4 100%);
  background: -o-linear-gradient(90deg, #ffffff 0%, #e8edf4 100%);
  background: -ms-linear-gradient(90deg, #ffffff 0%, #e8edf4 100%);
  background: linear-gradient(0deg, #ffffff 0%, #e8edf4 100%);
  text-align: center;
  margin: 0;
  padding: 88px 0 80px 0;
}
.pr_seminar .lead h3 {
  font-weight: 400;
  color: #000066;
  margin: 0 0 0 0;
  padding: 0;
  font-size: 1.8rem;
  background: none;
}
.pr_seminar .lead p {
  margin: 40px 0 0 0;
  font-size: 1.1rem;
}
.pr_seminar .effort h4 {
  border-radius: 32px;
  border: 1px solid #171c61;
  box-sizing: border-box;
  background-color: #ffffff;
  text-align: center;
  display: inline-block;
  padding: 12px 32px;
  color: #000066;
  margin: 72px 0 0 0;
  font-size: 1rem;
}
.pr_seminar .effort ul {
  border-radius: 16px;
  border: 1px solid #171c61;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 800px;
  margin: -22px auto 0 auto;
  display: table;
}
.pr_seminar .effort li {
  display: table-cell;
  border-right: 1px solid #dedede;
  width: 50%;
  padding: 0 0 32px 0;
  vertical-align: middle;
}
.pr_seminar .effort li:last-child {
  border-right: none;
}
.pr_seminar .effort p {
  line-height: 1.6;
  font-size: 0.95rem;
  font-weight: 700;
}
.pr_seminar .item {
  border-top: 1px solid #dedede;
  padding: 72px 0 72px 0;
}
.pr_seminar .item .inner {
  position: relative;
}
.pr_seminar .item h3 img {
  width: 32px;
}
.pr_seminar .item .detail {
  margin: 0 0 0 240px;
}
.pr_seminar .item .title {
  width: 240px;
  text-align: center;
  position: absolute;
  top: -73px;
}
.pr_seminar h3 {
  background: url(/services/images/line_gold.png) no-repeat center top;
  padding: 72px 0 0 0;
}
.pr_seminar h3 span {
  text-indent: -9999px;
  display: block;
  margin: 0 auto;
}
.pr_seminar .point h3 span {
  background: url(/services/images/title_point.png) no-repeat center top;
  background-size: 31.5px auto;
  width: 31.5px;
  height: 440px;
}
.pr_seminar .lecture h3 span {
  background: url(/services/images/title_curriculum.png) no-repeat center top;
  background-size: 31px auto;
  width: 31px;
  height: 330px;
}
.pr_seminar .lecture h3 span {
  background: url(/services/images/title_curriculum.png) no-repeat center top;
  background-size: 26px auto;
  width: 31px;
  height: 230px;
}
.pr_seminar .policy h3 span {
  background: url(/services/images/title_policy.png) no-repeat center top;
  background-size: 31px auto;
  width: 31px;
  height: 230px;
}
.pr_seminar .flow h3 span {
  background: url(/services/images/title_flow.png) no-repeat center top;
  background-size: 30px auto;
  width: 30px;
  height: 183px;
}
.pr_seminar .seminar_info h3 span {
  background: url(/services/images/title_seminar_info.png) no-repeat center top;
  background-size: 31px auto;
  width: 31px;
  height: 189px;
}
.pr_seminar .point ol li {
  padding: 0 0 0 80px;
  margin: 0 0 64px 0;
}
.pr_seminar .point li:nth-child(1) {
  background: url(/services/images/no1.png) no-repeat left top;
  background-size: auto 64px;
}
.pr_seminar .point li:nth-child(2) {
  background: url(/services/images/no2.png) no-repeat left top;
  background-size: auto 64px;
}
.pr_seminar .point li:nth-child(3) {
  background: url(/services/images/no3.png) no-repeat left top;
  background-size: auto 64px;
  margin: 0 0 0 0;
}
.pr_seminar .point h4 {
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 100;
  color: #000066;
}
.pr_seminar .point p {
  margin: 16px 0 0 0;
  line-height: 1.8;
}
.pr_seminar .lecture {
  width: 100%;
  position: relative;
  overflow: hidden;
  min-width: 960px;
}
.pr_seminar .lecture .pr_seminar_photo {
  position: absolute;
  width: 1280px;
  left: 50%;
  margin-left: -640px;
}
.pr_seminar_photo4 {
  position: absolute;
  left: -20px;
  top: 560px;
}
.pr_seminar_photo .pr_seminar_photo5 {
  position: absolute;
  left: 80px;
  top: 640px;
}
.pr_seminar_photo .pr_seminar_photo3 {
  position: absolute;
  left: 140px;
  top: 240px;
}
.pr_seminar_photo .pr_seminar_photo3 img {
  width: 200px;
  border-radius: 8px;
}
.pr_seminar_photo4 img,
.pr_seminar_photo5 img {
  width: 280px;
  border-radius: 8px;
}
.pr_seminar .lecture .image {
  position: absolute;
  top: 8px;
  left: 8px;
}
.pr_seminar .lecture .image img {
  width: 64px;
}
.pr_seminar .lecture h4 {
  font-size: 0.9rem;
  margin: 8px 0 0 80px;
}
.pr_seminar .lecture p {
  margin: 8px 0 0 80px;
}
.pr_seminar .lecture strong {
  color: #000;
  font-weight: 400;
}
.pr_seminar .lecture ul {
  margin: 0 0 0 32px;
}
.pr_seminar .lecture li {
  margin: 0 0 24px 0;
}
.pr_seminar .lecture p.note {
  font-size: 0.7rem;
  margin: 16px 280px 0 32px;
  line-height: 1.6;
  color: #666;
}
.pr_seminar .lecture .miyake {
  padding: 8px;
  border: 1px solid #ccc;
  margin: 16px 260px 0 32px;
  line-height: 1.6;
  color: #666;
  font-size: 0.7rem;
  position: relative;
  height: 104px;
}
.pr_seminar .premise,
.pr_seminar .basic_policy {
  background: #e8edf4;
  padding: 16px 24px;
}
.pr_seminar .basic_policy {
  padding: 16px 24px 1px 24px;
}
.pr_seminar .policy h4 {
  background: #000066;
  color: #fff;
  padding: 16px 24px;
  font-size: 1.2rem;
  font-weight: 400;
  margin: -16px -24px 16px -24px;
}
.pr_seminar .premise p {
  line-height: 1.6;
}
.pr_seminar .basic_policy {
  margin: 32px 0 0 0;
}
.pr_seminar .basic_policy ol {
  padding: 0 0 0 16px;
}
.pr_seminar .basic_policy li:nth-child(1) {
  background: url(/services/images/no1.png) no-repeat 4px 4px;
  background-size: auto 32px;
  min-height: 2.5em;
}
.pr_seminar .basic_policy li:nth-child(2) {
  background: url(/services/images/no2.png) no-repeat left 4px;
  background-size: auto 32px;
}
.pr_seminar .basic_policy li:nth-child(3) {
  background: url(/services/images/no3.png) no-repeat 1px 4px;
  background-size: auto 32px;
  min-height: 2.5em;
  padding-top: 0.5em;
}
.pr_seminar .basic_policy li {
  line-height: 1.6;
  padding: 0 0 0 48px;
  margin: 32px 0;
  font-family: YuMin;
  font-size: 19px;
}
.pr_seminar .policy strong {
  color: #000066;
}
.pr_seminar .flow .time {
  margin: 16px 0 56px 0;
  font-size: 0.9rem;
}
.pr_seminar .flow h4 {
  margin: 48px 0 0 0;
  padding: 0 0 16px 0;
  font-size: 1.4rem;
  font-weight: 400;
  border-bottom: 2px solid #9db2ce;
}
.pr_seminar .flow p {
  margin: 16px 0 0 0;
  font-size: 0.9rem;
  line-height: 1.8;
}
.pr_seminar .seminar_info {
  padding-bottom: 0;
}
.pr_seminar .voice {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding: 48px 0 48px 0;
}
.pr_seminar .voice h3,
.pr_seminar .profile h3 {
  text-align: center;
  background: none;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.pr_seminar .voice ul {
  width: 960px;
  margin: 56px auto 0 auto;
}
.pr_seminar .voice li {
  width: 208px;
  float: left;
  margin: 0 16px;
  overflow: hidden;
}
.pr_seminar .voice li p {
  width: 208px;
  height: 60px;
  overflow: hidden;
}
.pr_seminar .voice li .title {
  margin: 24px 0 0 0;
  font-size: 0.7rem;
  line-height: 1.3;
}
.pr_seminar .name {
  font-size: 1rem;
  margin: 8px 0 0 0;
}
.pr_seminar .name span {
  font-size: 80%;
}
.pr_seminar .voice p {
  font-size: 0.75rem;
  margin: 24px 0 0 0;
  line-height: 1.6;
}
.pr_seminar .voice .more {
  font-size: 0.9rem;
  text-align: right;
  margin: 8px 0 0 0;
}
.pr_seminar .voice .btn {
  text-align: center;
}
.pr_seminar .voice .btn a {
  text-align: center;
}
.pr_seminar .voice .btn {
  margin: 64px 0 0 0;
}
.pr_seminar .voice .btn a {
  border-radius: 4px;
  background-color: #171c61;
  box-shadow: 1px 1px 5.7px 0.3px rgba(0, 0, 0, 0.17);
  padding: 16px 0;
  display: inline-block;
  width: 8em;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
}
.pr_seminar .voice .btn a span {
  background: url(/images/common/arrow_wh.png) no-repeat right center;
  padding: 0 16px 0 0;
  background-size: 6px auto;
}
.pr_seminar_introduction .achievement {
  background: url(../images/achievement_bg.png) no-repeat center 0;
}
.pr_seminar_introduction .graph {
  text-align: center;
}
.pr_seminar_introduction .graph img {
  width: 580px;
}
#pr_seminar .achievement ul {
  width: 960px;
  margin: 54px auto 88px auto;
  background: url(../images/achievement_line.png) no-repeat 248px 238px;
  background-size: 364px auto;
}
#pr_seminar .achievement li {
  position: relative;
}
#pr_seminar .achievement li h4 {
  color: #171c61;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
}
#pr_seminar .achievement li p {
  color: #050505;
  font-size: 15px;
  margin: 24px 0 0 0;
  line-height: 1.6;
}
#pr_seminar .achievement1,
#pr_seminar .achievement3 {
  height: 364px;
}
#pr_seminar .achievement2,
#pr_seminar .achievement4 {
  height: 320px;
}
#pr_seminar .achievement2 {
  margin-top: -54px;
}
#pr_seminar .achievement3 {
  margin-top: -32px;
}
#pr_seminar .achievement1 .text,
#pr_seminar .achievement3 .text {
  position: absolute;
  width: 560px;
  top: 100px;
  left: 400px;
}
#pr_seminar .achievement3 .text {
  top: 100px;
}
#pr_seminar .achievement3 .image {
  position: absolute;
  left: 2px;
}
#pr_seminar .achievement2 .image,
#pr_seminar .achievement4 .image {
  position: absolute;
  top: 0;
  right: -2px;
  height: 320px;
}
#pr_seminar .achievement4 .image {
  top: 36px;
  right: 2px;
}
#pr_seminar .achievement2 .text,
#pr_seminar .achievement4 .text {
  position: absolute;
  width: 560px;
  top: 100px;
  left: 0;
}
#pr_seminar .achievement4 .text {
  top: 100px;
}
.pr_seminar_introduction .achievement1 .image img,
.pr_seminar_introduction .achievement3 .image img {
  width: 320px;
}
.pr_seminar_introduction .achievement2 .image img,
.pr_seminar_introduction .achievement4 .image img {
  width: 366px;
}
.point .inner {
  position: relative;
}
.point .appearance_branding {
  border: 1px solid #ddd;
  padding: 24px;
  margin: 40px 0 0 0;
  position: relative;
}
.point .appearance_branding .proposal {
  position: absolute;
  right: 24px;
  top: 48px;
}
.point .appearance_branding .proposal img {
  width: 304px;
}

.point .appearance_branding .text p {
  font-size: 13px;
}
.point .appearance_branding .miyake {
  border-top: 1px solid #eee;
  margin: 24px 0 0 0;
  padding: 24px 0 0 0;
}
.point .appearance_branding .miyake .image {
  float: left;
}
.point .appearance_branding .miyake img {
  width: 80px;
}
.point .appearance_branding .miyake h4 {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
.point .appearance_branding .miyake .text {
  width: auto;
  padding: 8px 0 0 100px;
}
.point .appearance_branding .miyake p {
  font-size: 13px;
  margin: 8px 0 0 0;
}
.point .supportmember {
}
.point .supportmember img {
  width: 60%;
  border-radius: 8px;
}
.point .supportmember .image {
  padding: 32px 0 16px 0;
}
.point .supportmember .caption {
  font-size: 12px;
}

.lecture table {
  width: 100%;
  border-collapse: collapse;
}
.lecture th {
  background: #000066;
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  padding: 16px 24px;
  border: 1px solid #fff;
}
.lecture td {
  padding: 16px;
  background: #e8edf4;
  text-align: left;
  border: 1px solid #fff;
}
.pr_seminar .lecture td h4 {
  margin: 8px 0 0 0;
  text-align: left;
  padding: 0;
  color: #171c61;
  font-size: 18px;
  font-weight: 400;
}
.pr_seminar .lecture ul.disc {
  margin: 24px 0 0 24px;
}
.pr_seminar .lecture td ul.disc li {
  font-size: 16px;
  margin: 0 0 12px 0;
}
.socialhour {
  text-align: right;
  font-size: 12px;
}
.next_seminer .head {
  background: url(../images/seminar_banner_bg.jpg) no-repeat center center;
  background-size: cover;
}
.next_seminer .head .inner {
  text-align: right;
  position: relative;
  height: 338px;
}
.next_seminer .head h2 {
  font-size: 36px;
  color: #fff;
  line-height: 1.2;
  position: absolute;
  font-weight: 400;
  bottom: 88px;
  right: 0;
}
.next_seminer .head .deardea {
  position: absolute;
  bottom: 32px;
  right: 0;
}
.next_seminer .head .deardea img {
  width: 137px;
}
.next_seminer .schedule table {
  width: 100%;
}
.next_seminer .schedule th {
  background: #947b27;
  color: #fff;
  padding: 20px 16px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #fff;
  font-weight: 400;
}
.next_seminer .schedule td {
  background-color: #f2f1ec;
  padding: 20px 16px;
  font-size: 18px;
  border: 1px solid #fff;
  text-align: center;
}
.next_seminer .schedule p {
  color: #333333;
  font-size: 14px;
  margin: 24px 0 0 0;
  line-height: 1.4;
}
.next_seminer .price {
  margin: 48px 0 0 0;
}
.next_seminer .price table {
  width: 100%;
}
.next_seminer .price th {
  background: #947b27;
  color: #fff;
  padding: 32px 16px;
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
  border: 1px solid #fff;
  font-weight: 400;
}
.next_seminer .price td {
  background-color: #f2f1ec;
  padding: 20px 16px;
  font-size: 18px;
  border: 1px solid #fff;
  text-align: left;
  line-height: 1.6;
}
.next_seminer .price td p.note {
  color: #333;
  font-size: 13px;
  margin: 16px 0 0 0;
}
.next_seminer .price ul {
  margin: 32px;
  color: #333333;
  font-size: 12px;
  line-height: 1.4;
}
.next_seminer .price ul li {
  margin: 0 0 8px 0;
}
.next_seminer .apply {
  background-color: #f2f1ec;
  text-align: center;
  padding: 64px 0;
}
.next_seminer .apply p {
  margin: 24px 0 0 0;
  line-height: 1.8;
}
.next_seminer .apply p.note {
  font-size: 12px;
  margin: 8px 0 24px 0;
}
.next_seminer a {
  font-size: 20px;
  border-radius: 4px;
  background-color: #947b27;
  box-shadow: 1px 1px 5.7px 0.3px rgba(0, 0, 0, 0.17);
  display: inline-block;
  padding: 24px 0;
  width: 600px;
  color: #fff;
}
.next_seminer span.off {
  font-size: 20px;
  border-radius: 4px;
  background-color: #999;
  box-shadow: none;
  display: inline-block;
  padding: 24px 0;
  width: 600px;
  color: #fff;
}
.next_seminer a span {
  background: url(/images/common/arrow_wh.png) no-repeat right center;
  padding: 0 24px 0 0;
  background-size: 8px auto;
}
.profile {
  padding: 0 0 88px 0;
}
.profile .inner {
  padding: 0 0 0 60px;
  background: url(/about/images/photo_profile.jpg) no-repeat 540px 96px;
}
.profile .title {
  margin: 64px 0 0 0;
  line-height: 1;
  font-size: 0.8rem;
}
.profile .title + .title {
  margin: 16px 0 0 0;
}
.profile .name {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  margin: 16px 0 0 0;
}
.profile .name_kana {
  color: #999999;
  margin: 16px 0 0 0;
  font-size: 0.7rem;
}
.profile p {
  margin: 32px 0 0 0;
  line-height: 2;
  font-size: 0.9rem;
}
.profile ul {
  margin: 56px 0 0 0;
}
.profile li {
  font-size: 0.8rem;
  padding: 8px 0;
}
.profile li a {
  padding: 8px 0 8px 24px;
}
.profile li a.blog {
  background: url(/images/common/icon_web.png) no-repeat 0 center;
  background-size: 16px auto;
}
.profile li a.facebook {
  background: url(/images/common/icon_facebook.png) no-repeat 0 center;
  background-size: 16px auto;
}

.pr_seminar .lecture p.woman_only {
  color: #ff0753;
  font-size: 14px;
  margin: 16px 0 0 240px;
}

.pr_seminar .apply p.woman_only {
  color: #ff0753;
  font-size: 14px;
}

/*============
追加分
===========*/

.voicetop {
  text-align: center;
  margin-top: 90px;
  padding-bottom: 10px;
}

.first {
  font-size: 1.3em;
  margin-bottom: 35px;
}

.voi {
  font-size: 1.2em;
  color: #000066;
  font-weight: 600;
  margin-bottom: 30px;
}

.voi img {
  width: 20px;
  padding-right: 10px;
}

.next {
  width: 50%;
  margin: 50px auto 90px;
  background: #000066;
  color: #ffffff;
  padding: 30px;
  border-radius: 10px;
}

.next a {
  color: #ffffff;
  font-size: 1.4em;
  font-weight: 600;
}

.voi5 {
  padding: 40px 30px;
  background: #e8edf4;
  width: 80%;
  margin: 80px auto 0;
}

.ch {
  text-align: center;
  margin-top: 40px;
  font-size: 1.1em;
  color: #000066;
  font-weight: 600;
}
