@media screen and (min-width: 320px) {

}
@media screen and (min-width: 375px) {


}
@media screen and (min-width: 414px) {

.button-simple {
    padding: 9px 15px 6px;
}
}
@media screen and (min-width: 415px) and (max-width: 767px) {
.youtube_movie {
    height: 361px;
}
}
@media screen and (width: 768px) {
.button-simple {
    padding: 18px 15px 16px;
    font-size: 4vw;
}

}
@media screen and (min-width: 769px) {
.button-simple {
    padding: 36px 0px 0 65px;
    height: 120px;
    text-align: center;
    margin-top: 32px;
}
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .flrpic {
    margin-left: 0px;
    margin-bottom: 30px;
}

.pt35 {
    padding-top: 15px !important;
}

.pt20 {
    padding-top: 5px !important;
}

    .pl30{
            padding-left: 16px !important;
    }
    .pr30{
            padding-right: 16px !important;
    }
    .button-simple {
        position: relative;
    font-weight: bold;
    padding: 15px 15px 0;
    margin: 10px 0 0;
    border-radius: 100px;
    font-size: 4.6vw;
    background: #f3920a;
    color: #fff;
    text-align: center;
    display: inline-block;
    /* text-shadow: 1px 1px 0px rgb(0, 0, 0, 0.3); */
    box-shadow: 0 3px 0 rgb(0, 0, 0, 0.3);
    height: 54px;
}



button {
    width: 100%;
    margin: 21px auto 0;
    background: none !important;
    border-color: #fff;
    padding: 0!important;
    border-style: none;
}

.w20 {
    width: 50%;
}

.button_header {
    width: 96%;
    text-align: center;
    margin: 0px auto 12px;
}

.ttl {
    font-size: 0.7em;
}

    tr {
    display: flex;
}
td {
    width: 50%;
}

.design_title09:after {

    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent;
    border-top-color: #c78824;
    content: ' ';
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border-width: 15px
}

.p20 {
    padding: 14px !important;
}

    .mt20 {
    margin-top: 20px !important;
}
.mt-20 {
    margin-top: 0px;
}
.box-num {
    top: -15px;
}
.c2>div {
    width: 100%;
    margin-right: 0%;
    }
.pt30 {
    padding-top: 22px !important;
}

.w50 {
    width: 80% !important;
}

.parallax_01, .parallax_02 {
    height: 230px;
    position: relative;
    z-index: 99;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    .v-num {
    left: 10px;
    top: 20px;
}
    body {font-size: 14px;}
    table.tbl td:first-child{
        width: 100%;
    }
    table.tbl td:second-child img{
        display: none;
    }
    td {
    display: block;
    padding-top: 20px;
    }
    .wrap {
        width: auto;
        margin: auto;
    }
    .wrap_1098 {
        width: auto;
        margin: auto;
        padding: 0 4%;
    }

    .form_1098 {
        padding: 0 !important;
    margin-right: 2%;
    margin-left: 2%;
    width: 96% !important;
    }

    .w50,
    .w70,
    .w80 {
        width: 100%;
    margin-left: 0;
    margin-right: 0;
    }

    .footer {
        padding: 10px;
    }
    .parallax {
        height: 250px;
        background-size: contain;
    }

    .sp_pt10 {padding-top:10px;}

    .p40 {
    padding: 14px !important;
}

    .design_title01,
    .design_title02,
    .design_title03,
    .design_title04,
    .design_title05,
    .design_title06,
    .design_title07,
    .design_title08,
    .design_title09,
    .design_title10 {

        font-size: 1.3em;
        padding: 15px;
    }
    .design_title07:before,
    .design_title07:after,
    .design_title10:before,
    .design_title10:after{
    height: 2px;
    }

    section{overflow: hidden;}

    .box {
        font-size: 2.85em
    }
    br.sp_br {display: inline !important;}

    .p30 {
        padding: 16px !important;
    }
    .pb20 {
        padding-bottom: 20px !important;
    }
    .pb30 {
        padding-bottom: 15px !important;
    }
    .pt40 {
        padding-top: 30px !important;
    }
    .pt60 {
        padding-top: 30px !important;
    }
    .pt50 {
    padding-top: 25px !important;
}
    .pb60 {
        padding-bottom: 30px !important;
    }

    .pb40 {
    padding-bottom: 30px !important;
}

    .mt30 {
        margin-top: 15px !important;
    }
    .mt40 {
        margin-top: 20px !important;
    }
    .mt60 {
        margin-top: 30px !important;
    }
    .mb30 {
        margin-bottom: 20px !important;
    }
    .mb40 {
        margin-bottom: 20px !important;
    }
    .mb50 {
        margin-bottom: 20px !important;
    }
    .mb60 {
        margin-bottom: 24px !important;
    }
    .mb80 {
        margin-bottom: 40px !important;
    }

    .sp_block {    display: block;}

.pb50 {
    padding-bottom: 30px !important;
}

.spt28 {font-size: 3.2vw !important;
    padding-top: 2px !important;
    padding-bottom: 3px !important;
    line-height: 1.3;
}

.sp_mt30 { margin-top: 30px }

ol li {
    position: relative;
    border-bottom: 1px dotted #af9244;
    padding-bottom: 18px;
    padding-top: 18px;
    padding-left: 51px;
}

#li_01 {
    background: url(../images/num_01.png) no-repeat left 12px;
}
#li_02 {
    background: url(../images/num_02.png) no-repeat left 12px;
}
#li_03 {
    background: url(../images/num_03.png) no-repeat left 12px;
}

#li_04 {
    background: url(../images/num_04.png) no-repeat left 12px;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: normal;
}

.pb45 {
    padding-bottom: 25px !important;
}

.thanksto {
    width: 90%;
    margin: 40px auto 25px;
}

input.present {
    width: 100%;
    margin: 0 auto !important;
    /* text-align: center; */
    display: block;
    height: 51px;
    padding: 15px;
    font-size: 14px;
    border: 3px solid #000066;
}

form { padding: 1% 1% 0%; }
.c3>div {
        width: 80%;
    margin: 0 10%;
    margin-bottom: 14px;
}

.sp_mt5 { margin-top: 7px;}

.sp_lh_4 {line-height: 4.5;}
.sp_lh_1 {line-height: 1.5;}
.sp_lh_0 {line-height: 1.3;}

}
@media screen and (min-width: 320px) and (max-width: 768px) {
  /*  img.fllpic,
    img.flrpic {
        width: 50%;
    margin: 15px 25% 22px !important;
    }*/
    img.flrpic.picflr,
    img.fllpic.picflr {
            width: 30%;
    margin: 0px 35% 22px !important;
    }
    .pl5 {
    padding-left: 0px !important;
    }
    .ml20 {
        margin-left: 0px !important;
    }
    .pl15 .ml20  {
        margin-bottom: 20px;
    }
    img.w80_sp { width:80% !important; margin: 0 10% 20px !important;}

    .dblock_sp {
        display: block !important
    }

    .dnone_sp { display: none;}
    .dnone_pc { display: block;}

    .overflow_h_pc { overflow: inherit;}
    .inner-wrap {
        padding: 17px 12px;
    }
    .ptb30 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .strike_w {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: normal;
}
    .design_title01,
    .design_title02,
    .design_title03,
    .design_title04,
    .design_title05,
    .design_title06,
    .design_title07,
    .design_title08,
    .design_title09,
    .design_title10 {
        font-size: 4.8vw;
        padding: 15px 0;
    }
    .t12 {
    font-size: 2.7vw;
}
    .t14 {
        font-size: 3.0vw
    }
    .t16 {
        font-size: 12px
    }
    .t18 {
        font-size: 3.6vw
    }
    .t20 {
        font-size: 3.6vw
    }
    .t22 {
        font-size: 4.6vw
    }
    .t24 {
        font-size: 4.0vw
    }
    .t26 {
        font-size: 4.6vw;
    }
    .t28 {
        font-size: 4.6vw;
    }
    .t30 {
        font-size: 4.5vw;
    }
    .t32, .t34, .t38 {
        font-size: 4.5vw;
    }
    .sp_t32 {
        font-size: 3.8vw;
    }
    .t36 {
        font-size: 4.5vw;
    }
    .t40 {
        font-size: 4.5vw;
    }
    .t50 {
        font-size: 4.8vw;
    }
    .t54 {
        font-size: 4.8vw;
    }
    .footer {
        float: left!important;
        line-height: 1em;
    }

    .c2_voice>div:nth-child(2n-1) {
    width: 18%;
    margin-right: 0%;
    margin-top: 0px;
    margin-bottom: 15px;
}

.online__recommendHeading {
    font-size: 17px;}

.online__dot::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #c30000;
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    top: -10px;
}

.online__recommendItem {
    width: 48%;
    border: 3px solid #001251;
    border-radius: 0;
    box-shadow: 0px 0px 0px 0px rgba(118, 117, 118, 0.3);
    padding: 16px 9px 24px;
    margin-bottom: 50px;
    margin: 0 1% 10px 1%;
}

.online__recommendImage {
    display: block;
    margin: 0 auto;
    max-width: 68px;
}

.online__recommend {
    padding: 30px 2% 20px;
}

.online__supportHeading {
    color: #000066;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.6;
    margin: 0;
}

.sp_inner-wrap {padding: 0px 20px;}

.online__supportSubHeading {
    text-align: center;
    font-size: 18px;
    color: #000066;
    margin: 32px auto;
    letter-spacing: 2px;
}

.online__recommendList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 23px auto 0;
    max-width: 100%;
}

.online__recommendParagraph {
    color: #000066;
    font-size: 14px;
    text-align: center;
    margin: 0px 0 0;
    font-weight: 600;
    line-height: 1.7;
}

.online__recommendImageWrapper {
    display: flex;
    align-items: center;
    height: 98px;
}

.cat-name {
    position: absolute;
    z-index: 3;
    top: -24px;
    left: 5px;
    color: #000066 !important;
    min-width: 80px;
    font-size: 12px;
    font-size: 1.3rem;
    text-align: left;
    color: #fff;
    background-color: transparent !important;
    font-family: 'Damion', cursive;
    font-weight: 400;
}

.p20_s {
    padding: 19px !important;
}

.c2_voice>div:nth-child(2n) {
    width: 82%;
    margin-right: 0%;
    margin-top: 0px;
    margin-bottom: 15px;
}

.pr {
    text-align: center;
    margin: 22px auto 40px;
    width: 90%;
}
    .parallax {
        height: 150px;
        background-size: contain;
    }
    .box {
        font-size: 1.1em
    }
    .ptb60 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .design_title01:after {
        border-width: 15px;
        margin-left: -15px
    }
    .design_title02:after {
        border-width: 15px;
        margin-left: -15px
    }
    .design_title03:after {
        border-width: 15px;
        margin-left: -15px
    }

    .rec p {
    width: 100%;
    }

    ul.check01 li {
    background: url(../images/check01.png) no-repeat left 17px;
    padding-top: 11px;
    padding-left: 50px;
    text-align: left;
    margin-bottom: 7px;
    padding-bottom: 18px;
    min-height: 31px;
    background-size: 29px;
}

/*-------------------------------------------*/
/*  Footer
/*-------------------------------------------*/
.footer div:first-child { margin-bottom: 10px; }

/*-------------------------------------------*/
/*  Page-top
/*-------------------------------------------*/
#page-top a {
    text-decoration: none;
    color: #fff;
    width: 50px;
    padding: 10px 0;
    text-align: center;
    display: block;
    border-radius: 0px;
}

#page-top {
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-size: 67%;
    z-index: 9;
}

.signiture { 
    width: 120px;
 }


}
@media screen and (max-width: 768px){
.online__reason {
    padding: 64px 0 0;
}
    .online__reasonHeading {
    font-size: 22px;
    line-height: 1.8;
}
.online__reasonList {
    width: 100%;
    margin: 208px auto 0;
}
.online__reasonItem:first-child, .online__reasonItem:nth-child(2), .online__reasonItem:nth-child(3) {
    margin-bottom: 240px;
}
.online__reasonItem {
    width: auto;
}
.online__reasonItem {
    box-shadow: none;
    margin: 0 auto 320px;
}
.online__reasonItem:first-child::before, .online__reasonItem:nth-child(2)::before, .online__reasonItem:nth-child(3)::before, .online__reasonItem:nth-child(4)::before {
    width: 80%;
    height: 80%;
    top: -182px;
}
.online__reason .online__reasonItemHeading {
    height: 120px;
    display: flex;
    justify-content: center;
    padding-left: 0;
}
.online__reason .online__reasonItemHeading, .online__reasonContent {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 0px 15px 0px rgba(118, 117, 118, 0.3);
}
.online__reasonNumber {
    font-size: 20px;
}
.online__reasonContent {
    border-radius: 0 0 10px 10px;
}
.online__reasonItem:nth-child(2n) {
    margin-left: auto;
}
.online__reasonItem:nth-child(2)::before {
    transform: translateX(-50%);
}
.online__reasonArrow {
    margin-top: 0;
}
.online__reasonCatch {
    font-size: 22px;
    margin-top: 24px;
}
.online__reasonItem:last-child {
    margin-bottom: 24px;
}
.sp {
        display: block;
    }

    .border-box {
    width: 100%;
    margin: 0 auto;
}

.online__fullSupport {
    padding: 0 16px 8px;
}
.online__fullSupportHeading {
    font-size: 28px;
}
.online__fullSupportList {
    width: 100%;
    margin-top: 48px;
}
.online__fullSupportItem {
    width: 46%;
    margin: 0 auto 56px;
    padding-bottom: 12px;
    font-size: 18px;
}
.online__fullSupportItem::before {
    width: 44px;
    height: 44px;
    font-size: 18px;
    top: -22px;
}
.online__fullSupportItem img {
    width: 100%;
}
.online__fullSupportContent {
    height: auto;
    margin: 12px auto;
    font-size: 14px;
}
.online__fullSupportItem:not(:first-child):not(:nth-child(5)) {
    margin: 0 auto 56px;
}

.online__support {
    padding: 80px 16px 64px;
}
.online__supportIcon {
    width: 140px;
    top: -36px;
}
.online__supportParagraph {
    font-size: 15px;
    margin: 32px 0;
    text-align: left;
}
.online__supportCompanyList {
    width: 100%;
}
.online__supportCompanyItem {
    width: 96%;
    padding: 48px 24px 32px;
    display: block;
}
.online__supportCompanyItem::before {
    width: 64px;
    height: 58px;
    right: 24px;
}
.online__supportCompanyOverview {
    margin-right: 0;
}
.online__supportLogo {
    margin: 0 auto 24px;
    display: block;
    width: 240px;
}
.online__supportCompanyLink {
    margin: 0 auto;
    height: 40px;
    font-size: 14px;
    max-width: 235px;
}
.online__lecturerButtonArrow {
    margin-left: 12px;
}
.online__supportComanyContents {
    width: 100%;
    margin-top: 40px;
}
.online__supportCompanyHeading {
    text-align: center;
    font-size: 17px;
}
.online__supportCompanyContent {
    font-size: 15px;
}
}


@media screen and (max-width: 960px) {
    .wrap {
        width: 98%;
    }

}



@media screen and (min-width: 961px) and (max-width: 1080px) {
    .wrap {
        width: 960px;
    }
}

@media screen and (max-width: 1119px){
/*    .online__reasonItem {
    max-width: 440px;
    width: 40%;
}*/
}