@charset "UTF-8";
/* スタイル上書き用

2021.04.20 リン
========================================================== */
/*==========================================================================
コラムページ
===========================================================================*/
.column-page * {
				box-sizing: border-box;
}
.column-page img {
				width: 100%;
				vertical-align: bottom;
}
.column-page figure {
				margin: 0;
}
.column-page p {
				margin: 0;
}
.column-page .wp-post-image {
				max-width: none !important;
}
.column-page .col2 {
				display: -ms-flexbox;
				display: flex;
}
.column-page .col2_main {
				margin-right: 4.5620437956%;
				-ms-flex: 1;
				    flex: 1;
}
.column-page .col2_side {
				-ms-flex: 0 0 auto;
				    flex: 0 0 auto;
				-ms-flex-preferred-size: 31.0218978102%;
				    flex-basis: 31.0218978102%;
}
.column-page .mv h1 {
				margin: 0;
}
.column-page .slide {
				overflow: hidden;
}
.column-page .slide .inner {
				display: block;
				position: relative;
				background-color: #e2edf3;
}
.column-page .slide .img {
				position: relative;
				margin-left: auto;
				width: 75.6944444444%;
				height: 600px;
}
.column-page .slide .img img {
				height: 100%;
				object-fit: cover;
				font-family: "object-fit: cover;";
}
.column-page .slide .txtbox {
				position: absolute;
				top: 50%;
				left: 0;
				width: 38.1944444444%;
				-ms-transform: translateY(-50%);
				    transform: translateY(-50%);
				background-color: #fff;
				padding: 48px 56px 28px calc(((100% - 1096px) / 2) + 30px);
}
.column-page .slide .ttl {
				font-size: 28px;
				letter-spacing: 0.1em;
				color: #04287e;
}
.column-page .slide .meta {
				padding-top: 28px;
				width: 83.1024930748%;
				border-top: 1px solid #202d73;
}
.column-page .slide .slick-arrow {
				top: auto;
				-ms-transform: translate(0);
				    transform: translate(0);
				z-index: 100;
				bottom: 48px;
				width: 30px;
				height: 30px;
}
.column-page .slide .slick-arrow::before {
				display: block;
				width: 30px;
				height: 30px;
				background: url(../img/icon_slide_arrow.png) no-repeat center/contain;
				content: "";
}
.column-page .slide .slick-next {
				right: auto;
				left: calc(((100% - 1096px) / 2) + 30px + 40px);
}
.column-page .slide .slick-prev {
				left: calc(((100% - 1096px) / 2) + 30px);
}
.column-page .slide .slick-prev::before {
				-ms-transform: scale(-1, 1);
				    transform: scale(-1, 1);
}
.column-page .date {
				font-size: 13px;
				color: #333;
}
.column-page .label {
				display: inline-block;
				background-color: #c7a44b;
				color: #fff;
				text-align: center;
				padding: 0.3em 0.6em;
				font-size: 14px;
				min-width: 90px;
				letter-spacing: 0.1em;
}
.column-page a.label {
				transition: 0.3s;
}
.column-page a.label:hover {
				opacity: 0.6;
}
.column-page .breadcrumbs {
				margin-top: 14px;
				margin-bottom: 55px;
				font-size: 12px;
				font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
				color: #2e2e2e;
}
.column-page .breadcrumbs a {
				color: #2e2e2e;
}
.column-page .gothic {
				font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}
.column-page .secTtl {
				display: -ms-flexbox;
				display: flex;
				-ms-flex-align: center;
				    align-items: center;
				margin-bottom: 1em;
				font-size: 30px;
				color: #04287e;
				letter-spacing: 0.1em;
}
.column-page .secTtl::after {
				-ms-flex: 1;
				    flex: 1;
				margin-left: 0.2em;
				height: 1px;
				background-color: currentColor;
				-ms-transform: translateY(0.1em);
				    transform: translateY(0.1em);
				content: "";
}
.column-page .cardUnit {
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap;
				margin-bottom: -45px;
}
.column-page .cardUnit > .card {
				width: calc((100% - 45px * 1) / 2);
				margin-right: 45px;
				margin-bottom: 45px;
}
.column-page .cardUnit > .card:nth-of-type(2n) {
				margin-right: 0;
}
.column-page .cardUnit.cardUnit__col4 {
				margin-bottom: -28px;
}
.column-page .cardUnit.cardUnit__col4 > .card {
				width: calc((100% - 28px * 3) / 4);
				margin-right: 28px;
				margin-bottom: 28px;
}
.column-page .cardUnit.cardUnit__col4 > .card:nth-of-type(2n) {
				margin-right: 28px;
}
.column-page .cardUnit.cardUnit__col4 > .card:nth-of-type(4n) {
				margin-right: 0;
}
.column-page .card a {
				display: block;
				transition: 0.3s;
}
.column-page .card a:hover {
				opacity: 0.6;
}
.column-page .card.smCard {
				box-shadow: none;
}
.column-page .card.smCard .card_img::before {
				padding-top: 72.2222222222%;
}
.column-page .card.smCard .card_body {
				padding: 10px 0 0 0;
}
.column-page .card.smCard .card_body .meta {
				margin-bottom: 6px;
}
.column-page .card.smCard .card_body .date {
				color: #202d73;
				letter-spacing: 1px;
}
.column-page .card.smCard .card_body .ttl {
				font-size: 14px;
}
.column-page .card {
				box-shadow: 0 0 20px 5px rgba(51, 51, 51, 0.13);
}
.column-page .card .label {
				padding: 0.4em;
				font-size: 12px;
				min-width: 120px;
}
.column-page .card_img {
				position: relative;
}
.column-page .card_img::before {
				display: block;
				padding-top: 52.6315789474%;
				content: "";
}
.column-page .card_img img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				font-family: "object-fit: cover;";
}
.column-page .card_body {
				background-color: #fff;
				padding: 20px 20px 12px;
}
.column-page .card_body .meta {
				margin-bottom: 10px;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap;
				-ms-flex-pack: justify;
				    justify-content: space-between;
				-ms-flex-align: center;
				    align-items: center;
}
.column-page .card_body .ttl {
				color: #333;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
				overflow: hidden;
}
.column-page .btn {
				color: #fff;
				font-size: 20px;
				line-height: 60px;
				font-weight: 500;
				letter-spacing: 0.1em;
				width: 300px;
				height: 60px;
				text-align: center;
				background: -webkit-linear-gradient(to right, #081665, #236ed0);
				background: linear-gradient(to right, #081665, #236ed0);
				display: block;
				text-decoration: none;
				border-radius: 5px;
				box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.21);
}
.column-page .btn::after {
				display: inline-block;
				margin-left: 0.2em;
				width: 0.4em;
				height: 0.4em;
				border-top: 0.08em solid #fff;
				border-right: 0.08em solid #fff;
				-ms-transform: rotate(45deg) translateY(-30%);
				    transform: rotate(45deg) translateY(-30%);
				content: "";
}
.column-page .btn:hover {
				opacity: 0.6;
				transition: 0.3s;
}
.column-page .sidebar > .sidebar_widget {
				margin-bottom: 40px;
}
.column-page .sidebar > .sidebar_widget:last-child {
				margin-bottom: 0;
}
.column-page .sidebar_ttl {
				margin-bottom: 20px;
				font-size: 16px;
				padding: 10px;
				background-color: #000066;
				color: #fff;
				letter-spacing: 0.1em;
}
.column-page .sidebar_list > li {
				border-bottom: 1px solid #e2edf3;
}
.column-page .sidebar_list > li:first-child > a {
				padding-top: 0;
}
.column-page .sidebar_list > li > a {
				display: block;
				padding: 20px 0;
				color: #333;
				transition: 0.3s;
}
.column-page .sidebar_list > li > a:hover {
				opacity: 0.6;
}
.column-page .sidebar_list.sidebar_links > li > a {
				padding: 15px 0;
				font-size: 17px;
				font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}
.column-page .sidebar .sidebar_media {
				display: -ms-flexbox;
				display: flex;
				-ms-flex-align: start;
				    align-items: flex-start;
}
.column-page .sidebar .sidebar_media .img {
				-ms-flex: 0 0 auto;
				    flex: 0 0 auto;
				-ms-flex-preferred-size: 23.5294117647%;
				    flex-basis: 23.5294117647%;
				position: relative;
				margin-right: 3.5294117647%;
}
.column-page .sidebar .sidebar_media .img::before {
				display: block;
				padding-top: 80%;
				content: "";
}
.column-page .sidebar .sidebar_media .img > img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				font-family: "object-fit: cover;";
}
.column-page .sidebar .sidebar_media .ttl {
				font-size: 14px;
				color: #333;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
				font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}
.column-page .sidebar .sidebar_rank {
				counter-reset: bl_orderList;
}
.column-page .sidebar .sidebar_rank .sidebar_media .img {
				position: relative;
}
.column-page .sidebar .sidebar_rank .sidebar_media .img::after {
				position: absolute;
				top: 0;
				left: 0;
				background-color: #c7a44b;
				color: #fff;
				min-width: 20px;
				height: 20px;
				font-size: 10px;
				display: -webkit-flex;
				display: -ms-flex;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-align: center;
				    align-items: center;
				-ms-flex-pack: center;
				    justify-content: center;
				content: counter(bl_orderList);
				counter-increment: bl_orderList;
}
.column-page .tagcloud {
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap;
				margin: 0 -10px -10px 0;
}
.column-page .tagcloud > li {
				margin: 0 10px 10px 0;
}
.column-page .tagcloud > li a {
				display: inline-block;
				padding: 0.2em 0.4em;
				font-size: 15px;
				background-color: #e2edf3;
				letter-spacing: 1px;
				transition: 0.3s;
				color: #333;
				font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}
.column-page .tagcloud > li a:hover {
				opacity: 0.6;
}
.column-page .entry {
				padding: 35px 35px 30px;
				box-shadow: 0 0 20px 5px rgba(51, 51, 51, 0.13);
}
.column-page .entry_head {
				margin-bottom: 20px;
}
.column-page .entry_head .meta {
				display: -ms-flexbox;
				display: flex;
				-ms-flex-align: center;
				    align-items: center;
				-ms-flex-pack: justify;
				    justify-content: space-between;
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap;
				margin-bottom: 12px;
}
.column-page .entry_head .meta > * {
				margin-right: 20px;
}
.column-page .entry_head .meta > *:last-child {
				margin-right: 0;
}
.column-page .entry_head .label {
				font-size: 16px;
				padding: 0.1em 0.7em;
}
.column-page .entry_head .ttl {
				font-size: 22px;
				color: #202d73;
				line-height: 1.8;
				text-align: justify;
				text-justify: inter-ideograph;
}
.column-page .entry_body {
				font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
				font-size: 15px;
}
.column-page .entry_body > *:last-child {
				margin-bottom: 0;
}
.column-page .entry_body h2 {
				margin: 1.5em 0;
				font-size: 20px;
				color: #202d73;
				font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
.column-page .entry_body p {
				margin-bottom: 2em;
				line-height: 1.8;
				text-align: justify;
				text-justify: inter-ideograph;
}
.column-page .entry_body figure {
				margin-bottom: 2em;
}
.column-page .entry_foot {
				margin-top: 20px;
				border-top: 1px solid #202d73;
				padding-top: 22px;
}
.column-page .share {
				display: -ms-flexbox;
				display: flex;
				-ms-flex-align: center;
				    align-items: center;
				-ms-flex-pack: end;
				    justify-content: flex-end;
}
.column-page .share .txt {
				margin-right: 6px;
				color: #202d73;
				font-size: 13px;
}
.column-page .share .addtoany_list a {
				height: 40px;
				padding: 0;
}

/*レスポンシブ
---------------------------------------------------------------------------*/
@media screen and (max-width: 769px) {
				.column-page .col2 {
								display: block;
				}
				.column-page .col2_main {
								margin-right: 0;
								margin-bottom: 80px;
								-ms-flex: 1;
								    flex: 1;
				}
				.column-page .cardUnit,
.column-page .cardUnit.cardUnit__col4 {
								display: -ms-flexbox;
								display: flex;
								-ms-flex-wrap: wrap;
								    flex-wrap: wrap;
								margin-bottom: 0;
				}
				.column-page .cardUnit > .card,
.column-page .cardUnit.cardUnit__col4 > .card {
								width: 100%;
								margin-right: 0;
								margin-bottom: 30px;
				}
				.column-page .cardUnit > .card:last-child,
.column-page .cardUnit.cardUnit__col4 > .card:last-child {
								margin-bottom: 0;
				}
}
/*==========================================================================
ヘルパークラス
===========================================================================*/
/*margin*/
.hp_mb0 {
				margin-bottom: 0px !important;
}

.hp_mb5 {
				margin-bottom: 5px !important;
}

.hp_mb10 {
				margin-bottom: 10px !important;
}

.hp_mb15 {
				margin-bottom: 15px !important;
}

.hp_mb20 {
				margin-bottom: 20px !important;
}

.hp_mb25 {
				margin-bottom: 25px !important;
}

.hp_mb30 {
				margin-bottom: 30px !important;
}

.hp_mb35 {
				margin-bottom: 35px !important;
}

.hp_mb40 {
				margin-bottom: 40px !important;
}

.hp_mb45 {
				margin-bottom: 45px !important;
}

.hp_mb50 {
				margin-bottom: 50px !important;
}

.hp_mb55 {
				margin-bottom: 55px !important;
}

.hp_mb60 {
				margin-bottom: 60px !important;
}

.hp_mb65 {
				margin-bottom: 65px !important;
}

.hp_mb70 {
				margin-bottom: 70px !important;
}

.hp_mb75 {
				margin-bottom: 75px !important;
}

.hp_mb80 {
				margin-bottom: 80px !important;
}

.hp_mb85 {
				margin-bottom: 85px !important;
}

.hp_mb90 {
				margin-bottom: 90px !important;
}

.hp_mb95 {
				margin-bottom: 95px !important;
}

.hp_mb100 {
				margin-bottom: 100px !important;
}

.hp_mAuto {
				margin-right: auto !important;
				margin-left: auto !important;
}

/*レスポンシブ
---------------------------------------------------------------------------*/
@media screen and (min-width: 770px) {
				.md_mb0 {
								margin-bottom: 0px !important;
				}

				.md_mb5 {
								margin-bottom: 5px !important;
				}

				.md_mb10 {
								margin-bottom: 10px !important;
				}

				.md_mb15 {
								margin-bottom: 15px !important;
				}

				.md_mb20 {
								margin-bottom: 20px !important;
				}

				.md_mb25 {
								margin-bottom: 25px !important;
				}

				.md_mb30 {
								margin-bottom: 30px !important;
				}

				.md_mb35 {
								margin-bottom: 35px !important;
				}

				.md_mb40 {
								margin-bottom: 40px !important;
				}

				.md_mb45 {
								margin-bottom: 45px !important;
				}

				.md_mb50 {
								margin-bottom: 50px !important;
				}

				.md_mb55 {
								margin-bottom: 55px !important;
				}

				.md_mb60 {
								margin-bottom: 60px !important;
				}

				.md_mb65 {
								margin-bottom: 65px !important;
				}

				.md_mb70 {
								margin-bottom: 70px !important;
				}

				.md_mb75 {
								margin-bottom: 75px !important;
				}

				.md_mb80 {
								margin-bottom: 80px !important;
				}

				.md_mb85 {
								margin-bottom: 85px !important;
				}

				.md_mb90 {
								margin-bottom: 90px !important;
				}

				.md_mb95 {
								margin-bottom: 95px !important;
				}

				.md_mb100 {
								margin-bottom: 100px !important;
				}
}
@media screen and (max-width: 769px) {
				.sm_mb0 {
								margin-bottom: 0px !important;
				}

				.sm_mb5 {
								margin-bottom: 5px !important;
				}

				.sm_mb10 {
								margin-bottom: 10px !important;
				}

				.sm_mb15 {
								margin-bottom: 15px !important;
				}

				.sm_mb20 {
								margin-bottom: 20px !important;
				}

				.sm_mb25 {
								margin-bottom: 25px !important;
				}

				.sm_mb30 {
								margin-bottom: 30px !important;
				}

				.sm_mb35 {
								margin-bottom: 35px !important;
				}

				.sm_mb40 {
								margin-bottom: 40px !important;
				}

				.sm_mb45 {
								margin-bottom: 45px !important;
				}

				.sm_mb50 {
								margin-bottom: 50px !important;
				}

				.sm_mb55 {
								margin-bottom: 55px !important;
				}

				.sm_mb60 {
								margin-bottom: 60px !important;
				}

				.sm_mb65 {
								margin-bottom: 65px !important;
				}

				.sm_mb70 {
								margin-bottom: 70px !important;
				}

				.sm_mb75 {
								margin-bottom: 75px !important;
				}

				.sm_mb80 {
								margin-bottom: 80px !important;
				}

				.sm_mb85 {
								margin-bottom: 85px !important;
				}

				.sm_mb90 {
								margin-bottom: 90px !important;
				}

				.sm_mb95 {
								margin-bottom: 95px !important;
				}

				.sm_mb100 {
								margin-bottom: 100px !important;
				}
}