@charset "UTF-8";
/* ベースグループ

・reset.cssやnormalize.cssによる素地作りの他、サイト全体にまつわるスタイルを要素セレクタに直接指定
・特定のスコープ内における限定的なベーススタイルの適用も許容（詳細度を高める行為であるため、十分注意）
========================================================== */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 62.5%;
  /*safari対応*/
  -webkit-text-size-adjust: 100%;
}

/*body
---------------------------------------------------------------------------*/
body {
  background-color: #fff;
  color: #222;
  font-size: 1.5rem;
  font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Helvetica Neue", Arial, Meiryo, sans-serif !important;
  font-weight: 400;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  body {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1240px) {
  body {
    font-size: 2rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}

p {
  line-height: 2;
}

@media screen and (max-width: 767px) {
  p {
    line-height: 1.8;
  }
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  color: #222;
}

picture {
  display: block;
}

/*フォーム部品
---------------------------------------------------------------------------*/
input,
textarea {
  border-radius: 0;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-appearance: none;
  border: none;
}

textarea {
  resize: none;
}

/* ------- チェックボックス・ラジオボタン */
input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  position: relative;
  padding-left: 1.3em;
  cursor: pointer;
}

input[type="checkbox"] + label::before, input[type="checkbox"] + label::after,
input[type="radio"] + label::before,
input[type="radio"] + label::after {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  content: "";
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  left: 0;
  width: 1em;
  height: 1em;
  border: 1px solid #222;
}

input[type="checkbox"]:checked + label::after,
input[type="radio"]:checked + label::after {
  left: .2em;
  width: .6em;
  height: .6em;
  background-color: #222;
}

input[type="radio"] + label::before, input[type="radio"] + label::after {
  border-radius: 50%;
}

input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

button,
select {
  outline: none;
  border: none;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  line-height: 1.5;
}
/*# sourceMappingURL=base.css.map */