@charset "UTF-8";
/* レイアウトグループ

・ヘッダー、ボディエリア、メインエリア、サイドエリア、フッター等の大きなレイアウトを形成する要素に使用
========================================================== */
/*コンテナ
---------------------------------------------------------------------------*/
.ly_contXl {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .ly_contXl {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .ly_contXl {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .ly_contXl {
    max-width: 960px;
  }
}

@media screen and (min-width: 1240px) {
  .ly_contXl {
    max-width: 1240px;
  }
}

.ly_contL {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .ly_contL {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .ly_contL {
    max-width: 700px;
  }
}

@media screen and (min-width: 992px) {
  .ly_contL {
    max-width: 940px;
  }
}

@media screen and (min-width: 1240px) {
  .ly_contL {
    max-width: 1162px;
  }
}

.ly_contM {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .ly_contM {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .ly_contM {
    max-width: 680px;
  }
}

@media screen and (min-width: 992px) {
  .ly_contM {
    max-width: 920px;
  }
}

@media screen and (min-width: 1240px) {
  .ly_contM {
    max-width: 1040px;
  }
}

.ly_contS {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .ly_contS {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .ly_contS {
    max-width: 530px;
  }
}

@media screen and (min-width: 992px) {
  .ly_contS {
    max-width: 700px;
  }
}

@media screen and (min-width: 1240px) {
  .ly_contS {
    max-width: 840px;
  }
}

.ly_contXs {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .ly_contXs {
    max-width: 420px;
  }
}

@media screen and (min-width: 768px) {
  .ly_contXs {
    max-width: 470px;
  }
}

@media screen and (min-width: 992px) {
  .ly_contXs {
    max-width: 620px;
  }
}

@media screen and (min-width: 1240px) {
  .ly_contXs {
    max-width: 730px;
  }
}

/*カラム
---------------------------------------------------------------------------*/
.ly_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ly_col > * {
  width: 100%;
  margin-bottom: 20px;
}

.ly_col > *:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .ly_col.ly_col__2 > * {
    width: calc((100% - 30px * 1) / 2);
    margin-right: 29px;
    margin-bottom: 0;
  }
  .ly_col.ly_col__2 > *:nth-of-type(2n) {
    margin-right: 0;
  }
  .ly_col.ly_col__3 > * {
    width: calc((100% - 18px * 2) / 3);
    margin-right: 17px;
    margin-bottom: 0;
  }
  .ly_col.ly_col__3 > *:nth-of-type(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .ly_col.ly_col__2 > * {
    width: calc((100% - 40px * 1) / 2);
    margin-right: 39px;
  }
  .ly_col.ly_col__3 > * {
    width: calc((100% - 40px * 2) / 3);
    margin-right: 39px;
  }
}

@media screen and (min-width: 1240px) {
  .ly_col.ly_col__2 > * {
    width: calc((100% - 50px * 1) / 2);
    margin-right: 49px;
  }
  .ly_col.ly_col__3 > * {
    width: calc((100% - 50px * 2) / 3);
    margin-right: 49px;
  }
}

/*フッター
---------------------------------------------------------------------------*/
.ly_footer_inner {
  padding: 25px 0;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .ly_footer_inner {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .ly_footer_inner {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .ly_footer_inner {
    max-width: 960px;
  }
}

@media screen and (min-width: 1240px) {
  .ly_footer_inner {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1239px) {
  .ly_footer_inner {
    padding: 20px 0;
  }
}

@media screen and (max-width: 991px) {
  .ly_footer_inner {
    padding: 15px 0;
  }
}

@media screen and (max-width: 767px) {
  .ly_footer_inner {
    padding: 15px 0;
  }
}
/*# sourceMappingURL=layout.css.map */