/* プログラムグループ

・JavaScript等のプログラムで要素にタッチする際、または状態を管理する際、専用のクラスを付加しモジュールのクラスとは分離することを推奨
========================================================== */

// 変数とミックスインをインポート
@import "_variable";
@import "_mixin";

// ******************* ここから記述 *******************

/*FAQアコーディオン
---------------------------------------------------------------------------*/
.js_faq_q.is_active {
    .bl_faq_btn::after {
        content: none;;
    }
}
