.pc-none {
  display: none;
}
/* mv */
.mv {
  background-image: url("../pr-guidance-img/mv-bg-pc.png");
  max-width: 1100px;
  height: 600px;
  padding: 30px 10px 10px 40px;
  margin: auto;
  border: 10px solid #202d73;
  position: relative;
  z-index: 0;
  margin-bottom: 50px;
}
.mv::after {
  content: "";
  position: absolute;
  width: 378px;
  height: 550px;
  background-image: url("../pr-guidance-img/mv-miki-pc.png");
  right: 0;
  bottom: 0;
  z-index: -1;
}
.mv img {
  width: 150px;
  margin-bottom: 16px;
}
.mv__title {
  font-size: 40px;
  line-height: 1;
  letter-spacing: 2.4px;
  width: 677px;
  height: 183px;
  margin-bottom: 30px;
  position: relative;
}
.mv__title span {
  padding: 20px 20px;
  background: #202d73;
  font-weight: 400;
  font-family: "Sawarabi Mincho", sans-serif;
}
.mv__title span:first-child {
  position: absolute;
  top: 0;
  left: 0;
}
.mv__title span:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
}
.mv__txt-1 {
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.8px;
  margin-bottom: 15px;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
}
.mv__txt-2 {
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 1.35px;
  margin-bottom: 30px;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
}
.mv__txt-3 {
  font-size: 25px;
  line-height: 1;
  letter-spacing: 0.63px;
  margin-bottom: 20px;
  font-weight: 500;
  font-family: "Noto Sans JP", sans-serif;
}
.mv__txt-4 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  margin: 0 10px 10px;
  padding: 5px 10px;
  width: 620px;
  height: 58px;
  background: #c7a44b99;
  font-weight: 500;
  font-family: "Noto Sans JP", sans-serif;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* s1 */
.s1 {
  width: 785px;
  margin: 0 auto 100px;
}
.s1 p {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 2px dashed #0b74ca;
}
.s1 p::before {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background: url("../pr-guidance-img/check.png") no-repeat left;
  background-size: 30px 30px;
  padding-right: 20px;
  top: 1px;
}
/* member-comment */
.member-comment {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 50px;
}
.member-comment__group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.member-comment__group img {
  width: 171px;
  height: 170px;
}
.member-comment__wrap {
  max-width: 800px;
  width: 800px;
  margin-left: auto;
  border-bottom: 1px dashed #0c7fdd;
  padding-bottom: 20px;
}
.member-comment__lead {
  margin-bottom: 20px;
}
.member-comment__lead span {
  color: #fc3466;
  font-weight: bold;
}
.member-comment__name {
  margin-bottom: 10px;
  font-weight: bold;
}
.member-comment__social-position {
}
.member-comment__txt {
  line-height: 2;
  padding-bottom: 50px;
  border-bottom: 1px solid #dddddd;
}
.member-comment__txt span {
  color: #fc3466;
  font-weight: bold;
}
/* lecturer */
.lecturer-picture {
  width: 690px;
  height: 460px;
  margin: auto;
  margin-bottom: 50px;
  display: block;
}
.lecturer-comment {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 50px;
}
.lecturer-comment--mb70 {
  margin-bottom: 70px;
}
.lecturer-comment--mb100 {
  margin-bottom: 100px;
}
.lecturer-my-story {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lecturer-my-story::before {
  content: "";
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  background: url("../pr-guidance-img/rose.png") no-repeat left;
  background-size: 35px 35px;
  padding-right: 15px;
  top: 1px;
}
.lecturer__name {
  font-size: 28px;
  letter-spacing: 1.46px;
  line-height: 1;
  text-align: center;
}
.lecturer__name-romaji {
  color: #0c7fdd;
  text-align: center;
  margin-bottom: 30px;
}
.lecturer__social-position {
  text-align: center;
  margin-bottom: 50px;
}
/* skill */
.skill {
  padding: 50px;
  border-radius: 10px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 100px;
}
.skill__group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill__group--mb {
  margin-bottom: 30px;
}
.skill__wrap {
  padding: 30px;
  max-width: 620px;
}
.skill__title {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.skill__title::before {
  content: "";
  position: relative;
  display: table;
  width: 22px;
  height: 22px;
  background: url("../pr-guidance-img/rose.png") no-repeat left;
  background-size: 22px 22px;
  padding-right: 5px;
  top: 1px;
}
.skill__txt {
}
.skill__img {
  width: 250px;
  height: 167px;
}
.skill__img--ml {
  margin-left: auto;
  order: 2;
}
.skill__img--mr {
  margin-right: auto;
}
/* lessons-menu */
.lessons-menu {
  width: 800px;
  margin: auto;
  font-size: 25px;
  letter-spacing: 1.25px;
  line-height: 1;
  font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", sans-serif;
}
.lessons-menu__title {
  padding: 30px 0;
  text-align: center;
}
.lessons-menu__wrap {
  padding: 40px 40px 30px;
}
.lessons-menu__sub-title {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
}
.lessons-menu__sub-title::before {
  content: "";
  position: relative;
  display: table;
  width: 22px;
  height: 22px;
  background: url("../pr-guidance-img/check.png") no-repeat left;
  background-size: 22px 22px;
  padding-right: 10px;
  top: 1px;
}
/* work-support */
.work-support {
  padding: 50px 40px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;
  background-color: #f9f9f9;
  border-radius: 10px;
}
.work-support__title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.work-support__title::before {
  content: "";
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  background: url("../pr-guidance-img/rose.png") no-repeat left;
  background-size: 22px 22px;
  padding-right: 5px;
  top: 1px;
}
.work-support__txt {
}
/* work-flow */
.work-flow {
  max-width: 800px;
  margin: auto;
  margin-bottom: 100px;
}
.work-flow__group {
  padding: 0 80px;
}
.work-flow__wrap {
  padding: 30px 0;
}
.work-flow__item {
  text-align: center;
  position: relative;
}
.work-flow__item::after {
  content: "";
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background: url("../pr-guidance-img/arrow.png") no-repeat bottom;
  background-size: 16px 16px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 15px auto;
}
.work-flow__item:last-child::after {
  content: none;
}
.work-flow__txt {
}
/* achievement */
.achievement__title {
  text-align: center;
  margin-bottom: 50px;
}
.achievement__area {
  display: flex;
  align-items: center;
  justify-content: left;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
}
.achievement__area--mb {
  margin-bottom: 100px;
}
.achievement__trophy {
  width: 180px;
  height: 136px;
}
.achievement__txt {
  max-width: 540px;
  margin-left: 20px;
}
.achievement__image {
  margin-left: auto;
}
.achievement__image--mr {
  margin-right: 60px;
}
/* media */
.media {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 726px;
  margin: auto;
  margin-bottom: 30px;
}
.media__name {
  line-height: 2;
}
.media__name span {
  display: flex;
  justify-content: flex-end;
}
.media__image {
  margin-left: auto;
}
/* book */
.book {
  background-color: #f9f9f9;
  border-radius: 10px;
  max-width: 726px;
  padding: 30px;
  margin: auto;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book__image {
}
.book__txt {
  max-width: 480px;
  margin-left: auto;
}
/* induction */
.induction-txt {
  padding: 50px 40px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 160px;
  border-radius: 10px;
  text-decoration: underline;
  position: relative;
}
.induction-txt::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 60px;
  background: url("../pr-guidance-img/triangle.png") no-repeat bottom;
  background-size: 150px 60px;
  bottom: -110px;
  right: 0;
  left: 0;
  margin: auto;
}
/* lecture-otd */
.lecture-otd {
  margin: auto;
  margin-bottom: 100px;
  max-width: 800px;
}
.lecture-otd__title {
  margin-bottom: 35px;
  position: relative;
  display: flex;
  align-items: center;
}
.lecture-otd__title::before {
  content: "";
  position: relative;
  display: table;
  width: 22px;
  height: 22px;
  background: url("../pr-guidance-img/star.png") no-repeat left;
  background-size: 22px 22px;
  padding-right: 10px;
  top: 1px;
}
.lecture-otd__title:last-child {
  margin-bottom: 0;
}
/* summary */
.summary {
  padding: 30px 0;
  text-align: center;
}
.summary__area {
  max-width: 800px;
  margin: auto;
}
.schedule__txt {
  text-align: center;
  padding-top: 30px;
  line-height: 2;
}
.schedule__wrap {
  padding: 30px 0 50px;
  max-width: 355px;
  margin: auto;
  list-style-type: none;
}
.schedule__item {
  line-height: 2;
}
.schedule__item span {
  font-size: 20px;
  letter-spacing: 0.8px;
  margin-left: 15px;
  color: #fc3466;
  font-weight: bold;
}
.schedule__item del {
  text-decoration: none;
  background-image: linear-gradient(#fc3466, #fc3466);
  background-position: 0 50%;
  background-size: 100% 2px;
  background-repeat: repeat-x;
  color: #888;
}
.summary__txt {
  line-height: 2;
  text-align: center;
  margin: 30px auto 50px;
}
.summary__txt span strong {
  font-size: 28px;
}
