@import "variables";

.about-pr-pro {
    & .heading2 {
        font-size: 40px;
        font-weight: bold;
        color: $brand-color;
    }
    & .main-visual {
        height: 80vh;
        min-height: 520px;
        background-image: url('assets/img/prpro_main@2x.jpg');
        background-size: cover;
        padding: 24px 40px;
        & .strong {
            font-size: 48px;
            display: block;
            margin-bottom: 24px;
        }
        & .heading2 {
            color: $brand-color;
            line-height: 1.7;
            font-size: 30px;
            margin-top: 80px;
        }
    }
    & .sec-inner {
        @include content-width;
    }
    & .sec {
        margin-bottom: 80px;
    }
    & .current {
        background-color: $brand-color-light;
        & .current-img-text-wrapper {
            display: flex;
        }
    }
    & .active {
        & .graduate-img {
            display: block;
            margin-top: 80px;
            max-width: 100%;
        }
        & .check-list-wrapper {
            margin-top: 80px;
        }
        & .check-list {
            font-size: 24px;
            margin-bottom: 16px;
            padding-left: 40px;
            background: url('assets/img/icon_checkbox.svg') no-repeat center left;
            background-size: 24px;
        }
    }
    & .merit {
        margin: 160px auto;
    }
    & .active {
        & .heading2 {
            text-align: center;
            & .num {
                color: $yellow;
                font-size: 60px;
            }
            & .em {
                font-size: 44px;
            }
        }
        & .check-list-wrapper {
            & .em {
                background: linear-gradient(transparent 70%, #e8edf5 70%);
            }
        }
        & .banner {
            width: 96%;
            max-width: 800px;
            margin-bottom: 40px;
            display: block;
            margin: 80px auto;
        }
    }
    & .flow {
        background-color: $brand-color-light;
        padding: 80px 0;
        & .heading2 {
            margin-bottom: 80px;
            text-align: center;
        }
        & .flow-list {
            background-color: $white;
            margin-bottom: 80px;
            position: relative;
            & .heading3 {
                font-size: 30px;
                margin-top: 0;
                padding: 16px 0;
                color: $brand-color;
                text-align: center;
                border-bottom: 1px solid $gray-100;
                letter-spacing: 1px;
            }
            & .num {
                display: inline-block;
                border-radius: 50%;
                background-color: $brand-color;
                margin-right: 16px;
                font-size: 24px;
                width: 32px;
                min-width: 32px;
                line-height: 32px;
                height: 32px;
                vertical-align: 2px;
                color: $white;
            }
            & .flow-content-wrapper {
                display: flex;
                justify-content: space-evenly;
                align-items: flex-start;
            }
            & .heading4 {
                font-size: 22px;
                margin-top: 4px;
                font-weight: normal;
            }
            & .em {
                font-size: 28px;
            }
            &:not(:first-child) {
                & .heading4 {
                    text-align: center;
                    margin-bottom: 4px;
                }
                & .text {
                    font-size: 16px;
                    line-height: 2;
                    margin: 0;
                    padding-bottom: 24px;
                    text-align: center;
                }
            }
            &:not(:last-child) {
                // 三角
                &::after {
                    content: "";
                    border-left: 80px solid transparent;
                    border-right: 80px solid transparent;
                    border-top: 50px solid $brand-color;
                    position: relative;
                    top: 80px;
                    left: calc(50% - 80px);
                    z-index: 1000;
                }
            }
        }
    }

    & .prpro-btn-wrapper {
        display: flex;
        justify-content: center;
        & .prpro-btn {
            display: block;
            background-color: transparent;
            color: $brand-color;
            border: 1px solid $brand-color;
            width: 30%;
            max-width: 400px;
            padding: 20px 0;
            font-size: 24px;
            &:first-child {
                margin-right: 80px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width:1096px) {

}

@media screen and (max-width: 769px) {
    .about-pr-pro {
        & .heading2 {
            font-size: 24px;
        }
        & .main-visual {
            background-color: $brand-color-light;
            height: auto;
            min-height: auto;
            padding: 0;
            & .strong {
                font-size: 32px;
            }
            & .img {
                width: 100%;
                margin: 40px auto 0;
            }
            & .heading2 {
                margin-top: 0;
                padding: 40px 16px 24px;
                font-size: 20px;
            }
        }
        & .sec-inner {
            padding: 0 16px;
        }
        & .active {
            & .heading2 {
                padding: 0;
                & .num {
                    font-size: 48px;
                }
                & .em {
                    font-size: 36px;
                }
            }
            & .graduate-img {
                margin-top: 40px;
            }
            & .check-list {
                font-size: 18px;
                background-position: top left;
            }
        }
        & .merit {
            margin-bottom : 80px;
        }
        & .flow {
            padding: 40px 0;
            & .heading2 {
                font-size: 32px;
                margin-bottom: 40px;
            }
            & .flow-list {
                padding: 16px;
                & .num {
                    margin-right: 12px;
                }
                & .flow-content-wrapper {
                    display: block;
                }
                & .heading3 {
                    font-size: 24px;
                }
                & .img {
                    width: 100%;
                }
                & .em {
                    font-size: 20px;
                }
                & .heading4 {
                    font-size: 18px;
                }
                & .text {
                    font-size: 14px;
                }
                &:not(:last-child)::after {
                    top: 94px;
                }
            }
        }
        & .prpro-btn-wrapper {
            flex-direction: column;
            & .prpro-btn {
                width: 90%;
                margin: auto;
                &:first-child {
                    margin: 0 auto 24px;
                }
            }
        }
    }
}