@import "variables";

.site-footer {
    min-height: 300px;
    background-color: $brand-color-light;
    padding: 80px 0;
    & .site-footer-inner {
        @include content-width;
    }
    & .btn-contact {
        width: 80%;
        padding: 16px 0 16px;
        margin: auto;
        display: block;
        background-color: $brand-color;
        color: $white;
        border: none;
        transition: .2s;
        &:hover {
            cursor: pointer;
            opacity: .8;
        }
    }
    & .desc {
        display: block;
        margin-bottom: 12px;
    }
    & .btn-title {
        display: inline;
        font-size: 24px;
        font-weight: bold;
    }
    & .mail-icon {
        width: 32px;
        padding-right: 8px;
        vertical-align: sub;
    }
    & .mail-icon-path {
        fill: $white;
    }
    & .footer-text-wrapper {
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin: auto;
    }
    & .brand {
        line-height: 1.2;
        font-weight: bold;
        margin-top: 40px;
    }
    & .institute {
        font-size: 24px;
    }
    & .institute-name {
        font-size: 30px;
    }
    & .address {
        color: $black;
        font-size: 18px;
    }
    & .nav-link-wrapper {
        margin-top: 46px;
        & .nav-link {
            text-decoration: none;
            color: $black;
            &:hover {
                text-decoration: underline;
            }
        }
        & .nav-link-list {
            margin-bottom: 8px;
        }
    }
}

@media screen and (max-width:1024px) {

}

@media screen and (max-width: 769px) {
    .site-footer {
        padding: 40px 0;
        & .footer-text-wrapper {
            width: 90%;
            display: block;
        }
        & .institute {
            font-size: 22px;
        }
        & .institute-name {
            font-size: 26px;
        }
        & .address {
            text-align: center;
        }
        & .brand {
            text-align: center;
        }
        & .btn-contact {
            width: 90%;
        }
        & .btn-title {
            font-size: 20px;
        }
        & .desc {
            font-size: 14px;
        }
        & .nav-link-wrapper {
            margin: 40px 0 0 8px;
        }
    }
}