@import "variables";

.single-column {
    & .entry-title {
        margin-top: 0;
    }
    & .sec-inner {
        @include content-width;
        margin-top: 80px;
    }
    & .sec {
        margin-bottom: 80px;
    }
    & .wp-post-image {
        width: 100%;
        max-width: 800px;
        height: auto;
    }
    & .article-list-wrapper {
        display: flex;
        & .article-list {
            margin-right: 80px;
        }
        & h2 {
            font-size: 30px;
            font-weight: bold;
            color: $brand-color;
            padding-top: 80px;
            padding-bottom: 12px;
            margin-bottom: 32px;
            border-bottom: 6px solid $brand-color-light;
        }
    }
    & .article-content-wrapper {
        width: 100%;
        margin-right: 80px;
    }
    & .article {
        margin-bottom: 40px;
    }
    & .article-content {
        display: flex;
        align-items: flex-start;
    }
    & .article-text {
        margin-left: 40px;
    }
    & a {
        text-decoration: none;
    }
    & .daytime {
        font-size: 18px;
        color: $black;
    }
    & .article-title {
        display: block;
        font-size: 28px;
        margin-top: 8px;
        color: $black;
        padding-bottom: 8px;
        border-bottom: 1px solid $brand-color;
    }
    & .text {
        color: $black;
    }
    & .reading {
        color: $brand-color;
        text-align: right;
    }
    & .sidebar {
        width: 40%;
        & .sidebar-title {
            background-color: $brand-color-light;
            color: $brand-color;
            text-align: center;
            padding: 16px 0;
        }
        & .sidebar-list {
            margin-bottom: 16px;
            padding: 0 0 8px 16px;
            border-bottom: 1px solid $gray-100;
            & a {
                color: $black;
            }
            &:last-child {
                margin-bottom: 80px;
            }
        }
        & .category-list li {
            margin-bottom: 16px;
            padding: 0 0 8px 16px;
            border-bottom: 1px solid $gray-100;
            & a {
                color: $black;
            }
            &:last-child {
                margin-bottom: 80px;
            }
        }
    }
    & .paging {
        margin: 160px auto 0;
        height: 80px;
        position: relative;
        display: flex;
        & .next,
        & .prev {
            width: 30%;
            & a {
                display: block;
                color: $brand-color;
                border: 1px solid $brand-color;
                padding: 10px 40px;
                text-decoration: none;
                text-align: center;
            }
        }
        & .prev {
            position: absolute;
            left: 0;
        }
        & .next {
            position: absolute;
            right: 0;
        }
    }
}

@media screen and (max-width:1096px) {
    .single-column {
        & .site-main {
            padding: 0 16px;
        }
    }
}

@media screen and (max-width: 769px) {
    .single-column {
        & .site-main {
            padding: 0 16px;
        }
        & .article-list-wrapper {
            display: block;
        }
        & .sidebar {
            width: 100%;
        }
        & .paging {
            & .next,
            & .prev {
                width: 40%;
            }
            & .next a,
            & .prev a {
                padding: 8px;
            }
        }
    }
}