// Colors
$white : #fff;
$black : #333;
$gray-50 : #eee;
$gray-100 : #cecece;
$gray-900 : #949494;
$brand-color : #157db4;
$brand-color-dark: #0c6bb9;
$brand-color-light: #e8edf4;
$brand-color-light-100: #b8d8e8;
$brand-color-very-light: #ecf0f6;
$blue: #239ac3;
$red : #B81516;
$yellow: #dfb845;
$yellow-light: #dfc578;
$menu-burger-color : #181818;
$about-association-main-visual-height: 1760px;

// Fonts
$text-space-m: .1em;
$text-space-l: .2em;

// Display
$max-width: 1096px;