/* エレメントグループ

・ボタンやラベル、見出し等の最小単位のモジュールで、どこにでも埋め込むことが可能なモジュール
========================================================== */

// 変数とミックスインをインポート
@import "../_variable";
@import "../_mixin";

// ******************* ここから記述 *******************

/*ボタン
---------------------------------------------------------------------------*/
/*cta*/
.el_cta {
    display: inline-block;
    position: relative;
    padding: 1em .6em;
    width: 290px;
    max-width: 100%;
    border-radius: 3px;
    background-color: $mainColor;
    color: $white;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    @include boxShadow_m;

    > img {
        margin-right: .8em;
        width: 2em;
        vertical-align: middle;
    }

    &::after {
        display: inline-block;
        @include chevR(.5em, .06em);
        content: '';
        transform: rotate(45deg) translateY(-45%);
    }
    @include media(md) {
        padding: .6em;
        width: 735px * .6;
        font-size: 3.6rem * .6;
        border-radius: 4px;
        letter-spacing: .2em;
        @include transition;

        &::after {
            margin-left: .4em;
        }
        &:focus,
        &:hover {
            opacity: $opacity;
        }
    }
    @include media(lg) {
        width: 735px * .8;
        font-size: 3.6rem * .8;
    }
    @include media(xl) {
        width: 735px;
        font-size: 3.6rem;
    }
}
button.el_cta,
input.el_cta {
    margin: 0;
    font-weight: bold;
    line-height: 1.8;

    @include media(md) {
        line-height: 2;
    }
}

/*タイトル
---------------------------------------------------------------------------*/
.el_lv2Ttl {
    position: relative;
    margin-bottom: 110px;
    padding: .9em .6em;
    background-color: $gold;
    color: $white;
    text-align: center;
    font-size: 3.2rem;
    letter-spacing: 2px;

    &_strong {
        display: inline-block;
        margin: 0 .1em;
        font-size: 4.7rem;
        line-height: 1.3;
        transform: translateY(.1em);
    }
    &::after {
        display: block;
        position: absolute;
        left: 50%;
        bottom: -27px;
        width: 55px;
        height: 55px;
        background-color: $gold;
        transform: translateX(-50%) rotate(45deg);
        content: '';
        @include zIndex(bg);
    }
    @include media(ltXl) {
        margin-bottom: 110px * .8;
        padding: 1em .6em;
        font-size: 3.2rem * .8;

        &_strong {
            font-size: 4.7rem * .8;
        }
        &::after {
            bottom: -27px * .8;
            width: 55px * .8;
            height: 55px * .8;
        }
    }
    @include media(tabSp) {
        margin-bottom: 110px * .6;
        padding: 1em .6em;
        font-size: 3.2rem * .6;

        &_strong {
            font-size: 4.7rem * .6;
        }
        &::after {
            bottom: -27px * .6;
            width: 55px * .6;
            height: 55px * .6;
        }
    }
    @include media(smOnly) {
        margin-bottom: 40px;
        padding: .7em .2em;
        font-size: 1.4rem;
        letter-spacing: 0;
        line-height: 1.8;

        &_strong {
            margin: 0;
            font-size: 2.2rem;
        }
        &::after {
            bottom: -13px;
            width: 26px;
            height: 26px;
        }
    }
}
.el_sectTtl {
    margin-bottom: 50px;
    color: $navy;
    font-size: 3rem;
    text-align: center;
    line-height: 2.5;

    &_strong {
        font-size: 5.5rem;
        @include marker;
        line-height: 1.3;
    }
    @include media(ltXl) {
        margin-bottom: 50px * .8;
        font-size: 3rem * .8;

        &_strong {
            font-size: 5.5rem * .8;
        }
    }
    @include media(tabSp) {
        margin-bottom: 50px * .6;
        font-size: 3rem * .6;

        &_strong {
            font-size: 5.5rem * .6;
        }
    }
    @include media(smOnly) {
        margin-bottom: 20px;
        font-size: 1.6rem;

        &_strong {
            font-size: 2.8rem;
        }
    }
}
.el_ttl {
    font-size: 3rem;
    line-height: 2;

    &_strongXs {
        font-size: 4.5rem;
        line-height: 1.3;
        @include marker;
    }
    &_strongS {
        font-size: 5rem;
        line-height: 1.3;
        @include marker;
    }
    &_strongM {
        font-size: 5.2rem;
        line-height: 1.3;
        @include marker;
    }
    &_strongL {
        font-size: 5.5rem;
        line-height: 1.3;
        @include marker;
    }
    &.el_ttl__l {
        font-size: 3.7rem;
    }
    &.el_ttl__sec {
        margin-bottom: 60px;
        text-align: center;
    }
}

/*タイトル レスポンシブ*/
@include media(ltXl) {
    .el_ttl {
        font-size: 3rem * .8;

        &_strongXs {
            font-size: 4.5rem * .8;
        }
        &_strongS {
            font-size: 5rem * .8;
        }
        &_strongM {
            font-size: 5.2rem * .8;
        }
        &_strongL {
            font-size: 5.5rem * .8;
        }
        &.el_ttl__l {
            font-size: 3.7rem * .8;
        }
        &.el_ttl__sec {
            margin-bottom: 60px * .8;
        }
    }
}
@include media(tabSp) {
    .el_ttl {
        font-size: 3rem * .6;

        &_strongXs {
            font-size: 4.5rem * .6;
        }
        &_strongS {
            font-size: 5rem * .6;
        }
        &_strongM {
            font-size: 5.2rem * .6;
        }
        &_strongL {
            font-size: 5.5rem * .6;
        }
        &.el_ttl__l {
            font-size: 3.7rem * .6;
        }
        &.el_ttl__sec {
            margin-bottom: 60px * .6;
        }
    }
}
@include media(smOnly) {
    .el_ttl {
        font-size: 1.6rem;

        &_strongS {
            font-size: 2.2rem;
        }
        &_strongM {
            font-size: 2.4rem;
        }
        &_strongL {
            font-size: 2.6rem;
        }
        &.el_ttl__l {
            font-size: 1.6rem;
        }
        &.el_ttl__sec {
            font-size: 1.7rem;
            margin-bottom: 30px;
        }
    }
}


/*テキスト
---------------------------------------------------------------------------*/
.el_txtS {
    font-size: 1.7rem;
}
.el_txtL {
    font-size: 2.4rem;
}
.el_txtXl {
    font-size: 2.8rem;
}
.el_txtStrong {
    padding-bottom: .1em;
    border-bottom: 2px solid;
    border-bottom-width: 2px;
    color: $red;
    font-size: 4.5rem;

    &.el_txtStrong__s {
        font-size: 3.5rem;
    }
}
.el_sectTxt {
    margin-bottom: 50px;
    font-size: 2.8rem;
    text-align: center;
    color: $navy;
}

/*タイトル レスポンシブ*/
@include media(ltXl) {
    .el_txtS {
        font-size: 1.7rem * .8;
    }
    .el_txtL {
        font-size: 2.4rem * .8;
    }
    .el_txtXl {
        font-size: 2.8rem * .8;
    }
    .el_txtStrong {
        font-size: 4.5rem * .8;

        &.el_txtStrong__s {
            font-size: 3.5rem * .8;
        }
    }
    .el_sectTxt {
        margin-bottom: 50px * .8;
        font-size: 2.8rem * .8;
    }
}
@include media(tabSp) {
    .el_txtS {
        font-size: 1.7rem * .6;
    }
    .el_txtL {
        font-size: 2.4rem * .6;
    }
    .el_txtXl {
        font-size: 2.8rem * .6;
    }
    .el_txtStrong {
        font-size: 4.5rem * .6;

        &.el_txtStrong__s {
            font-size: 3.5rem * .6;
        }
    }
    .el_sectTxt {
        margin-bottom: 50px * .6;
        font-size: 2.8rem * .6;
    }
}
@include media(smOnly) {
    .el_txtS {
        font-size: 1.2rem;
    }
    .el_txtL {
        font-size: 1.3rem;
    }
    .el_txtXl {
        font-size: 2rem;
    }
    .el_txtStrong {
        font-size: 2.4rem;

        &.el_txtStrong__s {
            font-size: 1.7rem;
        }
    }
    .el_sectTxt {
        margin-bottom: 20px;
        font-size: 1.5rem;
    }
}

/*矢印
---------------------------------------------------------------------------*/
.el_chev {
    margin: 0 auto;
    width: 30px;
}
.el_arrow {
    margin: 0 auto;
    width: 65px;
}
@include media(ltXl) {
    .el_chev {
        @include media(ltXl) {
            width: 30px * .8;
        }
        @include media(tabSp) {
            width: 30px * .6;
        }
        @include media(smOnly) {
            width: 20px;
        }
    }
    .el_arrow {
        @include media(ltXl) {
            width: 65px * .8;
        }
        @include media(tabSp) {
            width: 65px * .6;
        }
        @include media(smOnly) {
            width: 33px;
        }
    }
}

/*ドット（文字上）
---------------------------------------------------------------------------*/
.el_dotTxt {
    > span {
        position: relative;

        &::before {
            position: absolute;
            left: 50%;
            top: -0.5em;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: currentColor;
            transform: translateX(-50%);
            content: "";
        }
    }
    @include media(ltXl) {
        > span {
            &::before {
                width: 6px * .8;
                height: 6px * .8;
            }
        }
    }
    @include media(tabSp) {
        > span {
            &::before {
                width: 6px * .6;
                height: 6px * .6;
            }
        }
    }
    @include media(smOnly) {
        > span {
            &::before {
                width: 3px;
                height: 3px;
            }
        }
    }
    &.el_dotTxt__gold {
        > span::before {
            background-color: $gold;
        }
    }
    &.el_dotTxt__red {
        > span::before {
            background-color: $mainColor;
        }
    }
}

/*ドット（・）
---------------------------------------------------------------------------*/
.el_dot {
    display: inline-block;
    position: relative;
    margin: 0 -0.3em;

    &::after {
        content: '・';
    }
}

/*コピーライト
---------------------------------------------------------------------------*/
.el_copyright {
    font-size: 1.5rem;
    color: $navy;
    letter-spacing: .2em;

    @include media(ltXl) {
        font-size: 1.5rem * .8;
    }
    @include media(tabSp) {
        font-size: 1.5rem * .6;
    }
    @include media(smOnly) {
        font-size: 1.1rem;
    }
}
